/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}

}

/* Responsive: less than tablets */
@media (max-width: 767px) {

	.navbar-nav {
		margin: 0;
	}
}


/* Basic Grid Style */

.gridStyle {
	height: 1000px;
	text-align: center;
}

.ngGrid {
	background-color: #000;
}

.ngTopPanel {
	background-color: #333;
}

.ngRow.odd {
	background-color: #666;
}
.ngRow.even {
	background-color: #999;
}
.ngRow.selected {
	background-color: #AAA;
}

.ngVerticalBarVisible {
	width: 0;
}