*.sublime-workspace
bower_components/
bower/
node_modules/
Parse/config/global.json
npm-debug.log
Parse/public/js/config.js
frontend/js/config.js
frontend/js/config_*
api/config.js
dist/
.tmp/
*.log
# css is compiled via less
frontend/css/
frontend/components/*.css