<div class="examplesContainer"
	 ng-class="{'loading': loading}">
	 <!-- Character -->
	<div class="characters">
		<div class="card character"
			 ng-class="cardClass(index)"
			 ng-repeat="(index, suggestion) in characters">
			<div class="cardContent">
				{{suggestion.attributes.text}}
			</div>
		</div>
	</div>
	<!-- Scenario -->
	<div class="scenarios">
		<div class="card scenario"
			 ng-class="cardClass(index)"
			 ng-repeat="(index, suggestion) in scenarios">
			<div class="cardContent">
				{{suggestion.attributes.text}}
			</div>
		</div>
	</div>
</div>