<div class="moderator">
	<link rel="stylesheet" 
			type="text/css" 
			href="components/moderator.css">

	<div class="alert alert-info" 
			ng-show="loading">
		Loading...</div>

	<!-- Skip button -->

	<hr/>

	<!-- Repeat suggestions in pairs -->
	<div class="cardContainer"
			ng-hide="loading">
		<card id="suggestion.id"
				updatable="true"></card>
		<button class="btn btn-success"
				ng-click="approve()">
			Lulz
		</button>
		<button class="btn btn-danger"
				ng-click="disapprove()">
			Lame
		</button>
		<button ng-click="skip()"
				class="btn btn-warning skip">
			Ask me later
		</button>
		<hr />
	</div>


</div>