<div class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" ui-sref='home'>God Hates Charades</a>
	</div>
	<ul class="nav navbar-nav navbar-right">
	
		<!-- universal nav -->
		<li ng-hide="isHome">
			<a ui-sref='home'>Home</a>
		</li>
		<li ng-class="{ active: $state.includes('submit') }">
			<a ui-sref='submit'>Submit</a>
		</li>
		<li ng-class="{ active: $state.includes('vote') }">
			<a ui-sref='vote'>Vote</a>
		</li>
		<li ng-class="{ active: $state.includes('top') }">
			<a ui-sref='top'>Top submissions</a>
		</li>

		<!-- user stuff -->
		<li ng-class="{ active: $state.includes('login') }">
			<a ui-sref='login'
				ng-show="parseUser.isAnon()">
				Login
			</a>
		</li>
		<li class="dropdown"
			ng-hide="parseUser.isAnon()">
			<a class="dropdown-toggle" 
				data-toggle="dropdown">
				{{parseUser.data.attributes.name}}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a ui-sref='profile.public({userid: parseUser.data.id})'
						ng-class="{ active: $state.includes('profile') }">
						My Profile
					</a>
				</li>
				<!-- Admin section -->
				<li role="presentation" 
					class="divider"
					ng-show="parseUser.isAdmin()"></li>
				<li role="presentation" 
					class="dropdown-header"
					ng-show="parseUser.isAdmin()">
					Admin
				</li>
				<li ng-class="{ active: $state.includes('suggestions') }"
					ng-show="parseUser.isAdmin()">
					<a ui-sref='suggestions'>Suggestions List</a>
				</li>
				<li role="presentation" class="divider"></li>
				<!-- logout -->
				<li>
					<a ng-click="parseUser.logout()">Logout</a>
				</li>
			</ul>
		</li>
	</ul>
</div>