<div class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" ui-sref='home'>God Hates Charades</a>
	</div>
	<ul class="nav navbar-nav navbar-right">
		<li ng-hide="isHome">
			<a ui-sref='home'>Home</a>
		</li>
		<li ng-class="{ active: $state.includes('submit') }">
			<a ui-sref='submit'>Submit</a>
		</li>
		<li ng-class="{ active: $state.includes('vote') }">
			<a ui-sref='vote'>Vote</a>
		</li>
		<li ng-class="{ active: $state.includes('top') }">
			<a ui-sref='top'>Top submissions</a>
		</li>
		<li ng-class="{ active: $state.includes('login') }">
			<a ui-sref='login'
				ng-hide="parseUser.loggedin">
				Sign In
			</a>
		</li>
		<li class="dropdown"
			ng-show="parseUser.loggedin">
			<a class="dropdown-toggle" data-toggle="dropdown">
				{{parseUser.data.attributes.name}}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a ui-sref='profile'
						ng-class="{ active: $state.includes('profile') }">
						My Profile
					</a>
				</li>
				<li ng-show="parseUser.isAdmin()"
					ng-class="{ active: $state.includes('suggestions') }">
					<a ui-sref='suggestions'>Suggestions List</a>
				</li>
			</ul>
		</li>
	</ul>
</div>