.cardContent {
	top: 0;
}

.card {
	margin-bottom: 0;
}

.card .editable {
	border: none;
	width: 100%;
	height: 100%;
	background: transparent;
	resize: none;
	padding: 100% 15px 15px 15px;
	
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
}

.card.submitted {
	padding: 25px;
	font-size: 12px;
}

.alert {
	color: black;
	border: none;
	border-radius: 0;
	padding-top: 20px;
	margin: -5px auto 0 auto;
	background: transparent;
}

.alert.alert-warning {
	font-weight: bold;
}

.alert.alert-danger {
	font-weight: bold;
	color: #BB0000;
}