<div class="topSubmissions">

	<!-- Repeat Pairs -->
	<div class="cardContainer"
			infinite-scroll="loadSuggestions()"
			infinite-scroll-disabled="loading"
			infinite-scroll-immediate-check="true">
			<!-- Repeat suggestions in pairs -->
			<div ng-repeat="(index, suggestion) in suggestions">
				<!-- <br> -->
				<suggestion-row id="suggestion.id"></suggestion-row>
				<!-- <card id="suggestion.id"></card> -->
				<!-- <card-info id="suggestion.id"></card-info> -->
			</div>
	</div>

	<div class="loading alert alert-info" 
			ng-show="loading">
		Loading...
	</div>
</div>