<div class="topSubmissions">
	<ul class="nav nav-pills subnav"
		ng-hide="loading && skipIndex == 0">
		<li ng-class="{ active: tab == 'best' }">
			<a ng-click="reloadSuggestions('best')">
				Hall of Fame
			</a>
		</li>
		<li ng-class="{ active: tab == 'worst' }">
			<a ng-click="reloadSuggestions('worst')">
				Hall of Shame
			</a>
		</li>
		<!-- <li ng-class="{ active: tab == 'worst' }">
			<a ng-click="reloadSuggestions('controversial')">
				Controversial
			</a>
		</li> -->
	</ul>
	<div class="suggestionList"
		 ng-hide="loading && skipIndex == 0"
		 infinite-scroll="loadSuggestions()"
		 infinite-scroll-disabled="loading"
		 infinite-scroll-immediate-check="true">
			<table class="table">
				<tr>
					<th>Rank</th>
					<th>Suggestion</th>
					<th>Votes</th>
					<th>Skips</th>
					<th>Viewed</th>
					<th>Submitter</th>
				</tr>
				<tr ng-repeat="(index, suggestion) in suggestions"
					ng-class="cardService.getTypeClass(suggestion)">
					<td ng-bind="index + 1"></td>
					<!-- Text -->
					<td ng-bind="suggestion.attributes.text"></td>
					<!-- Votes -->
					<td ng-show="suggestion.attributes.totalVotes">
						{{suggestion.attributes.totalVotes | number}}
					</td>
					<td ng-hide="suggestion.attributes.totalVotes">0</td>
					<!-- Skips -->
					<td ng-show="suggestion.attributes.skipped">
						{{suggestion.attributes.skipped | number}}
					</td>
					<td ng-hide="suggestion.attributes.skipped">0</td>
					<!-- Views -->
					<td ng-bind="suggestion.attributes.skipped + suggestion.attributes.totalVotes"></td>
					<!-- Submitter -->
					<td>
						<a ui-sref="user({userid: suggestion.attributes.owner.id})">
							{{suggestion.attributes.owner.attributes.name}}
						</a>
					</td>
				</tr>
			</table>
	</div>

	<div class="loading" 
			ng-show="loading">
		Loading...
	</div>
</div>