<div>
	<link rel="stylesheet" 
			type="text/css" 
			href="components/vote.css">

	<div class="alert alert-info" 
			ng-show="loading">
		Loading...</div>

	<!-- Repeat Pairs -->
	<div class="zeroCardContainer row"
			ng-repeat="(index, pair) in suggestionPairs | limitTo:pairLimit"
			ng-hide="loading">
		<!-- Repeat suggestions in pairs -->
		<div class="card col-md-6"
				ng-class="typeClass(suggestion)"
				ng-repeat="(index, suggestion) in pair">
			<div class="cardContent">
				{{suggestion.attributes.text}}
			</div>
		</div>
		<hr/>
	</div>
</div>