<div>
	<link rel="stylesheet" 
			type="text/css" 
			href="components/vote.css">

	<div class="alert alert-info" 
			ng-show="loading">
		Loading...</div>

	<!-- Repeat Pairs -->
	<div class="cardContainer row"
			ng-repeat="(index, pair) in suggestionPairs | limitTo:pairLimit"
			ng-hide="loading"
			ng-click="selectPair(index)">
		<!-- Repeat suggestions in pairs -->
		<div class="col-md-6 col-sm-6 col-xs-6"
				ng-repeat="(index, suggestion) in pair">
			<div class="card"
					ng-class="typeClass(suggestion)">
				<div class="cardContent">
					{{suggestion.attributes.text}}
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="separator" 
				ng-hide="$last"
				>
			- VS -
		</div>
	</div>
</div>