.suggestionPair {
	margin-bottom: 15px;
}

.cardContainer {
	cursor: pointer;
}

.cardContainer .card {
	-webkit-transition: all 0.25s ease;
}


.cardContainer:hover .card {
	-webkit-transform: scale(1.05, 1.05);
}

.separator {
	text-align: center;
	margin: 25px 0;
	font-weight: bold;
}