<div id="homeView">
	<link rel="stylesheet" type="text/css" href="views/homeView.css">
	<div class="jumbotron">
		<h1>God Hates Charades</h1>
		<!-- <p><a class="btn btn-lg btn-success" href="#">Buy it now!</a></p> -->
	</div>
	<div class="container">
		<h2>A game where you act out the<br>vile and dispicable inside all of us.</h2>
		
		<div class="row">
			<div class="col-md-4">
				<h4>The Actor</h4>
				<div class="thumbnail actor"></div>
				A player will assume the actor position. Their job will be to <b>act out the scene</b> given to them by one of the other players.
			</div>
			<div class="col-md-4">
				<h4>The Guesser</h4>
				<div class="thumbnail guesser"></div>
				All players who aren’t acting are guessers. Their job is to <b>guess what the actor is doing</b> unless the actor picks your scene. If the actor picks your scene you become the God player.
			</div>
			<div class="col-md-4">
				<h4>God</h4>
				<div class="thumbnail god"></div>
				As the God player their job is to <b>throw off the other players</b> by making stupid guesses and just causing problems. After all God Hates Charades.
			</div>
		</div>
	</div>
</div>