<div class="cardInfo">
	<h4>{{suggestion.typeDisplay}} Card</h4>
	<ng-pluralize
		count="suggestion.votes"
		when="{'0': 'No votes.',
				'one': '1 pity vote',
				'other': '{{suggestion.votes}} votes'}">
	</ng-pluralize>
	<br>
	<ng-pluralize
		count="suggestion.skips"
		when="{'0': 'No skips.',
				'one': '1 measly skip',
				'other': '{{suggestion.skips}} skips'}">
	</ng-pluralize>
	<br>
	{{suggestion.KDR}} KDR
	<br>
	Submitted by
	<a ui-sref="user({userid: suggestion.owner.id})">
		<b>{{suggestion.owner.name}}</b>
	</a>
</div>