<div class="card"
     ng-class="cardService.getTypeClassByType(suggestion.attributes.type)">
	<span class="icon"
		  ng-include="cardService.getImageByType(suggestion.attributes.type)"></span>
	<div class="cardContent">
		{{suggestion.attributes.text}}<span>{{suggestion.attributes.legal}}</span>
	</div>
	<div ng-if="domain"
	     class="domain">
		godhatescharades.com
	</div>
	<div ng-if="suggestion.attributes.owner.attributes.name"
	     class="author">
		{{suggestion.attributes.owner.attributes.name}}
	</div>
</div>