<div class="modal-header">
	<h3 class="modal-title">
		Editing {{suggestion.text}}
	</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-4">
			<card suggestion="suggestion"
			      updatable="true"></card>
			<a ui-sref="card(cardService.getLink(suggestion))"
			   ng-if="suggestion"
			   class="card-link btn btn-default btn-xs"
			   target="blank">
				View Card Page
			</a>
		</div>
		<div class="col-xs-8">
			<card-form suggestion="suggestion"
			           on-success="onSuccess"
			           on-error="onError"></card-form>
		</div>
	</div>
</div>