<div class="modal-header">
	<h3 class="modal-title">
		Editing {{suggestion.text}}
	</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-4">
			<card-info-table suggestion="suggestion"></card-info-table>
			<card suggestion="suggestion"
			      updatable="true"></card>
			<card-link suggestion="suggestion"></card-link>
		</div>
		<div class="col-xs-8">
			<h6>Card Details</h6>
			<card-form suggestion="suggestion"
			           on-success="onSuccess"
			           on-error="onError"></card-form>
			<h6>Sets</h6>
			<set-selector suggestion="suggestion" sets="sets"></set-selector>
			<h6>Pairs</h6>
			<card-pairs-info-table suggestion="suggestion"></card-pair-info-table>
		</div>
	</div>
</div>