<div class="cardInfo">
	<h4>{{suggestion.getTypeDisplay()}} Card</h4>
	<ng-pluralize
		count="suggestion.getTotalVotes()"
		when="{'0': 'No votes.',
				'one': '1 pity vote',
				'other': '{{suggestion.getTotalVotes()}} votes'}">
	</ng-pluralize>
	<br>
	<ng-pluralize
		count="suggestion.getTotalSkips()"
		when="{'0': 'No skips.',
				'one': '1 measly skip',
				'other': '{{suggestion.getTotalSkips()}} skips'}">
	</ng-pluralize>
	<br>
	{{suggestion.getKDR()}} KDR
	<br>
	Submitted by
	<a ui-sref="user({userid: suggestion.attributes.owner.id})">
		<b>{{suggestion.attributes.owner.attributes.name}}</b>
	</a>
</div>