<div class="pairList">
	<button ng-click="showPairsAndLoad()"
	        class="btn btn-success btn-xs"
	        ng-hide="showPairs">Load Pairs</button>
	<p ng-if="showPairs">{{pairs.length}} pairs loaded</p>
	<input ng-model="list.search"
	       ng-if="showPairs"
	       placeholder="search here"
	       class="form-control">
	<table class="pairInfoTable table table-striped"
	       ng-if="showPairs"
	       infinite-scroll="displayMorePairs()"
	       infinite-scroll-disabled="list.limit >= pairs.length"
	       infinite-scroll-distance="0.25">
		<tr>
			<th>Visit</th>
			<th>Pair</th>
			<th>Views</th>
			<th>Votes</th>
			<th>Skips</th>
		</tr>
		<tr ng-repeat="pair in pairs | fuse:list.searchProps:list.search:list.sortOverrideKeys[list.sortDirection] | limit:list.limit:list track by pair.id">
			<td>
				<a class="btn btn-success btn-block btn-xs" 
				   ui-sref="pair(pair.link)"
				   target="_blank">
					View Pair
				</a>
			</td>
			<td>
				<a card-details-modal="pair.actor"
				   target="_blank">
					<b>{{::pair.actor.text}}</b>
				</a>
				<a card-details-modal="pair.scenario"
				   target="_blank">
					<b>{{pair.scenario.text}}</b>
				</a>
			</td>
			<td>{{pair.views}}</td>
			<td>{{pair.votes}}</td>
			<td>{{pair.skips}}</td>
		</tr>
	</table>
</div>