<div class="cardForm container">
	<card suggestion="suggestion"
	      updatable="true"></card>
	<a ui-sref="card(cardService.getLink(suggestion))"
	   ng-if="suggestion"
	   class="card-link btn btn-default btn-xs"
	   target="blank">
		View Card Page
	</a>
	<form class="form-horizontal"
	      role="form"
	      ng-submit="saveSuggestion()">
		<div class="btn-group legal">
			<a class="btn btn-success btn-plain btn-xs" ng-model="suggestion.attributes.legal" btn-radio="" uncheckable>None</a>
			<a class="btn btn-success btn-plain btn-xs" ng-model="suggestion.attributes.legal" btn-radio="'©'" uncheckable>&copy;</a>
			<a class="btn btn-success btn-plain btn-xs" ng-model="suggestion.attributes.legal" btn-radio="'™'" uncheckable>&trade;</a>
			<a class="btn btn-success btn-plain btn-xs" ng-model="suggestion.attributes.legal" btn-radio="'®'" uncheckable>&reg;</a>
		</div>
		<input type="text"
		       class="form-control"
		       id="suggestionText"
		       ng-model="suggestion.attributes.text">
	</form>
</div>