<div class="pairList">
	<table class="pairInfoTable table table-striped">
		<tr>
			<th>Pair</th>
			<th>Views</th>
			<th>Votes</th>
			<th>Skips</th>
		</tr>
		<tr ng-repeat="pair in pairs | orderBy:sortPredicates track by pair.id">
			<td>
				<a ng-click="cardDetailsModal.show(this, pair.actor)"
				   target="_blank">
					<b>{{::pair.actor.text}}</b>
				</a>
				&nbsp;
				<a ng-click="cardDetailsModal.show(this, pair.scenario)"
				   target="_blank">
					<b>{{pair.scenario.text}}</b>
				</a>
			</td>
			<td>{{pair.views}}</td>
			<td>{{pair.votes}}</td>
			<td>{{pair.skips}}</td>
		</tr>
	</table>
</div>