<div class="cardList"
     ng-hide="loading">
	<a class="row pair"
	   ui-sref="pair(pair.link)"
	   ng-repeat="(index, pair) in pairs | orderBy:sortPredicates | limitTo:50">

		<ribbon message="index + 1"
				class="ribbon-gold">
		</ribbon>
		<div class="col-xs-6">
			<card suggestion="pair.actor"
			      updatable="true"></card>
		</div>
		<div class="col-xs-6">
			<card suggestion="pair.scenario"
			      updatable="true"></card>
		</div>
		<!-- <div ng-if="User.current.admin">
			<div>controversy: {{pair.controversy}}</div>
			<div>displayed: {{pair.views}}</div>
			<div>chosen: {{pair.votes}}</div>
			<div>skipped: {{pair.skips}}</div>
			<div>kdr: {{pair.kdr}}</div>
		</div> -->
	</a>
</div>