@import "../less/bootstrap-variables";
@import "../less/colors";

.cart {
  padding-bottom: 15px;
  transition: transform .5s ease-out;
  width: 200px;

  @media (max-width: @screen-sm-er-max) {
    & {
      background-color: black;
      width: 100%;
      left: 0;
      height: 70px;
      z-index: 1;
      padding-top: 10px;
    }
  }

  @media (min-width: @screen-sm-min) {
    & {
      left: 75%;
    }
  }

  @media (min-width: @screen-md-min) {
    & {
      left: 70%;
    }
  }


  &.full {
    .notification {
      display: none;
    }

    .cart-items {
      display: block;

      @media (max-width: @screen-sm-er-max) {
        & {
          display: none;
        }
      }
    }
    
    .guy .guy-front {
      background-image: url(../img/full_cart_face_front.svg);
    }
  }

  .notification {
    background-image: url(../img/empty_cart_text.svg);
    background-repeat: no-repeat;
    width: 182px;
    height: 134px;
    margin: 25px auto 15px auto;


    @media (max-width: @screen-sm-er-max) {
      & {
        display: none;
      }
    }
  }

  .cart-items {
    display: none;
    // padding-bottom: 31px;

    .cart-item {
      position: relative;
      bottom: 0;
      
      &.ng-enter {
        transition: bottom 1s cubic-bezier(0.64, 0.57, 0.67, 1.53);

        &.ng-enter-active {
          animation: hardbounce 1000ms linear both;
        }
      }

      @media (max-width: @screen-sm-er-max) {
        & {
            float: left;
            width: 180px;
            margin-left: 15px;
        }
      }

      .product-quantity {
        position: absolute;
        top: 0;
        width: 64px;
        height: 64px;
        color: white;
        font-family: 'GodHatesCharades';
        line-height: 54px;
        text-align: center;
        font-size: 30px;
        left: -30px;
        padding-right: 10px;

        &:before {
          // using before to allow flipping
          content: '';
          width: 64px;
          height: 64px;
          -webkit-mask-image: url(../img/quantityNub.svg);
          -webkit-mask-position: 50% 0;
          -webkit-mask-size: 64px;
          -webkit-mask-repeat: no-repeat;
          background-color: black;
          z-index: -1;
          position: absolute;
          left: 0;
          top: 0;

        }
      }

      @media (min-width: @screen-sm-min) {
        & {
            &.cart-item-even {
              .product-quantity {
                left: inherit;
                padding-right: 0;
                right: 0;
                padding-left: 10px;
                &:before {
                  transform: scaleX(-1);
                }
              }
            }
        }
      }

      .product-image {
        width: 100%;
        height: 125px;
        position: absolute;
        bottom: 0;
        background-position: center bottom;
        background-repeat: no-repeat;

        &:last-child {
          margin-bottom: -36px;
        }
      }

      &.product-main-game {
        height: 45px;

        .product-image {
          background-image: url(../img/the_game.svg);
        }
      }

      &.product-main-game-wholesale {
        height: 65px;

        .product-image {
          background-image: url(../img/the_game-wholesale.svg);
        }
      }

      &.product-expansion {
        height: 23px;

        .product-image {
          background-image: url(../img/expansion.svg);
        }
      }

      &.product-expansion-wholesale {
        height: 41px;

        .product-image {
          background-image: url(../img/expansion-wholesale.svg);
        }
      }

      &.product-BUN-003 {
        height: 45px;

        .product-image {
          background-image: url(../img/expansion.svg), url(../img/the_game.svg);
          background-position: 45px -35px, center bottom;
        }
      }
    }
  }

  .guy {
    margin: 0 auto;
    width: 155px;
    height: 220px;
    position: relative;
    
    .guy-front, .guy-back {
      position: absolute;
      background-repeat: no-repeat;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    .guy-back {
      z-index: -1;
      -webkit-transform: rotateZ(360deg);
      background-image: url(../img/cart_face_back.svg);
    }

    .guy-front {
      z-index: 99;
      -webkit-transform: rotateZ(360deg);
      background-image: url(../img/empty_cart_face_front.svg);
    }

    @media (max-width: @screen-sm-er-max) {
      & {
        display: none;
      }
    }

  }

  .checkout {
    width: 280px;
    margin: 0 auto;

    .total-nub {
      display: none;
      width: 64px;
      height: 64px;
      -webkit-mask-image: url(../img/quantityNub.svg);
      -webkit-mask-position: 50% 0;
      -webkit-mask-size: 64px;
      -webkit-mask-repeat: no-repeat;
      background-color: white;
      color: black;
      float: left;
      font-family: 'GodHatesCharades';
      line-height: 54px;
      text-align: center;
      font-size: 30px;
      padding-right: 10px;

      @media (max-width: @screen-sm-er-max) {
        & {
          display: block;
        }
      }
    }

    .submit {
      position: absolute;
      bottom: 0;
      z-index: 100;
      height: 53px;
      -webkit-mask-image: url(../img/quantityBar.svg);
      -webkit-mask-position: 50% 50%;
      -webkit-mask-size: 200px 53px;
      -webkit-mask-repeat: no-repeat;
      line-height: 37px;
      font-size: 18px;
      float: right;

      &[disabled] {
        opacity: 1;
        background-color: @color-btn-success-disabled;
      }

      @media (max-width: @screen-sm-er-max) {
        & {
          width: 200px;
          position: relative;
        }
      }
    }
  }
}