<div class="examplesContainer"
	 ng-class="{'loading': loading}">
	 <!-- Character -->
	<div class="characters">
		<div class="characterContainer" 
			 ng-class="cardClass(index)"
			 ng-repeat="(index, suggestion) in characters">
			<card id="suggestion.id">
			</card>
		</div>
	</div>
	<!-- Scenario -->
	<div class="scenarios">
		<div class="scenarioContainer" 
			 ng-class="cardClass(index)"
			 ng-repeat="(index, suggestion) in scenarios">
			<card id="suggestion.id">
			</card>
		</div>

	</div>
</div>