<form ng-submit="login()"
      class="login">
	<div class="form-group">
		<label for="loginEmail">Email</label>
		<input type="email"
		       class="form-control"
		       id="loginEmail"
		       ng-model="email"
		       placeholder="janedoe@gmail.com" />
	</div>
	<div class="form-group">
		<label for="loginPassword">Password</label>
		<input type="password" 
		       class="form-control" 
		       id="loginPassword" 
		       ng-model="password" 
		       placeholder="Password" />
	</div>
	<button type="submit"
	        class="btn btn-primary">Welcome back</button>
	<hr>
	<a ui-sref="reset">Reset Password</a>
</form>