<div class="mailing-list"
     ng-class="{submitted:submitted}">
	<form class="form-inline"
	      ng-submit="subscribe()"
	      ng-hide="submitted">
		<div class="form-group">
			<label for="mce-EMAIL" 
			       class="sr-only">
				Email Address
			</label>
			<input type="email" 
			       value=""
			       name="EMAIL" 
			       ng-model="email"
			       class="required email form-control" 
			       id="mce-EMAIL" 
			       required="required"
			       placeholder="Enter email">
		</div>
		<input type="submit"
		       ng-value="sending ? 'Sending' : 'Submit'"
		       ng-disabled="sending"
		       name="subscribe"
		       class="btn btn-success submit">
		<div class="errorMessage"
		      ng-show="errorMessage">
			{{errorMessage}}
		</div>
	</form>
	<div ng-show="submitted"
	     class="confirmEmail">
		<h4>Thanks for signing up!</h4>
	</div>
</div>