<form action="http://godhatescharades.us3.list-manage.com/subscribe/post?u=88c52ae3a3f740d6ede2fcc05&amp;id=b6575d0e61"
      method="post"
      name="mc-embedded-subscribe-form"
      target="_blank"
      novalidate
      class="mailchimp">
	<div class="form-group">
		<label for="mce-EMAIL" 
		       class="sr-only">
			Email Address
		</label>
		<input type="email" 
		       value=""
		       name="EMAIL" 
		       class="required email form-control" 
		       id="mce-EMAIL" 
		       placeholder="Enter email">
	</div>
	<input type="submit" 
	       value="Subscribe" 
	       name="subscribe" 
	       class="btn btn-success submit">
	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;">
		<input type="text"
		       name="b_88c52ae3a3f740d6ede2fcc05_b6575d0e61"
		       value="">
	</div>
</form>