<div class="moderator">

	<div ng-show="!allApproved && !loading"
	     class="alert alert-info">
		Try not to fuck this up
	</div>
	<!-- One suggestion at a time -->
	<div class="col-md-6">
		<div class="alert alert-info" 
		     ng-show="loading">
			Loading...</div>

		<div class="alert alert-info" 
		     ng-show="allApproved && !loading && !errorMessage">
			Thats all folks... dont you have something better you could be doing?
		</div>

		<div class="alert alert-danger" 
		     ng-show="errorMessage">
			Uh oh! {{errorMessage}}
		</div>
		<div class="cardContainer"
		     ng-hide="loading || allApproved || !suggestion">
			
			<card-form suggestion="suggestion"
			           save-on-submit="false"></card-form>

			<button class="btn btn-xs btn-success"
			        ng-click="approve()">
				Approve &amp; Save
			</button>
			<button class="btn btn-xs btn-danger"
			        ng-click="disapprove()">
				Disapprove
			</button>
			<button ng-click="skip()"
			        class="btn btn-xs btn-warning skip">
				Ask me later
			</button>
		</div>
	</div>
	<suggestion-selector class="col-sm-6 col-md-6 col-lg-6"
	                     search="suggestion.attributes.text"></suggestion-selector>


</div>