<div class="moderator">

	<div class="alert alert-info" 
			ng-show="loading">
		Loading...</div>

	<div class="alert alert-info" 
			ng-show="allApproved && !loading && !errorMessage">
		Thats all folks... dont you have something better you could be doing?
	</div>

	<div class="alert alert-danger" 
			ng-show="errorMessage">
		Uh oh! {{errorMessage}}
	</div>

	<p ng-show="!allApproved && !loading">Try not to fuck this up</p>

	<!-- One suggestion at a time -->
	<div class="cardContainer"
			ng-hide="loading || allApproved || !suggestion">

		<hr/>
		<card id="suggestion.id"
				updatable="true"></card>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<div class="row">
					<div class="radio col-md-3">
						<label>
							<input class="legal" type="radio" ng-model="legalMod" value="">
						</label>
					</div>
					<div class="radio col-md-3">
						<label>
							<input class="legal" type="radio" ng-model="legalMod" value="©">
							&copy;
						</label>
					</div>
					<div class="radio col-md-3">
						<label>
							<input class="legal" type="radio" ng-model="legalMod" value="™">
							&trade;
						</label>
					</div>
					<div class="radio col-md-3">
						<label>
							<input class="legal" type="radio" ng-model="legalMod" value="®">
							&reg;
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="suggestionText">New Text</label>
				<input type="text" class="form-control" id="suggestionText" ng-model="suggestionText">
			</div>
		</form>
		<button class="btn btn-success"
				ng-click="approve()">
			Approve &amp; Save
		</button>
		<button class="btn btn-danger"
				ng-click="disapprove()">
			Disapprove
		</button>
		<button ng-click="skip()"
				class="btn btn-warning skip">
			Ask me later
		</button>
	</div>


</div>