@import "../less/colors";
@import "../less/bootstrap-variables";
@nav-inactive: black;
@nav-active: @color-actor;
@dropdown-bg-inactive: @color-background-nav;
@dropdown-bg-active: @color-background-nav-selected;
@dropdown-text-inactive: white;
@dropdown-text-active: @color-actor;
@dropdown-accent: white;

@no-ad: 0px; //use if no ad is present
@ad-size: @no-ad;
@nav-height: 65px;
@ad-height: @ad-size + 30;

#mainNav {
	/* margin-bottom: 40px; */
	margin-top: @nav-height;
	min-height: 1px;
	height: 45px;
	position: relative;

	&.has-ad {
		margin-top: @ad-height;
	}
}

.ad {
	position: absolute;
	right: 0;
	top: -@ad-height;
	background-color: black;
	color: white;
	font-family: 'GodHatesCharades';
	font-size: 20px;
	text-transform: uppercase;
	padding: 15px 25px 15px 25px;
	text-align: center;
	cursor: pointer;
	width: 300px;
	transition: all 0.3s ease;
}

.ad:hover {
	color: white;
	text-decoration: none;
	padding-top: 20px;
}

.ad b {
	color: #FF6857;
}

.nav > li > a {
	color: #000;
	font-size: 20px;
	font-family: 'GodHatesCharades';
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: uppercase;
	padding-bottom: 4px;
}
#mainNav > li {
	padding: 0 12px;
	border-radius: 0;
}
.nav li {
	cursor: pointer;
}
.nav li a {
	border-radius: 0;
}
.nav-pills li + li {
	margin: 0;
	cursor: pointer;
}
.nav > li > a:hover,
.nav > li.active > a,
.nav > li.active > a:hover {
	color: @nav-active;
	background-color: transparent;
}
.nav > li > a {
	color: @nav-inactive;
	text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}

.nav {
	.dropdown {
		.dropdown-toggle {
			// default toggle colors
			.caret {
				border-top-color: @dropdown-bg-inactive;
				border-bottom-color: @dropdown-bg-inactive;
			}
		}

		&.open {
			.dropdown-toggle {
				// open toggle
				.caret {
					border-top-color: @dropdown-text-active;
					border-bottom-color: @dropdown-text-active;
				}
			}
		}

		.dropdown-menu {
			font-size: 70%;
			background-color: @dropdown-bg-inactive;
			border: none;
			min-width: inherit;
			color: @dropdown-text-inactive;
			border-radius: 0;
			width: 100%;
			box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);
			margin-top: 0;

			a {
				color: @dropdown-text-inactive;
				&:hover {
					background-color: @dropdown-bg-active;
					color: @dropdown-text-active;
				}
			}

			.active {
				a {
					background-color: @dropdown-bg-active;
					color: @dropdown-text-active;
				}
			}

			.dropdown-header {
				color: @dropdown-text-inactive;
				font-weight: bold;
				cursor: default;
			}
		}
	}
}

@logo-width: 16%;
.nav-left,
.nav-right {
	width: 50% - (@logo-width / 2);
}
.nav-left,
.nav-right {
	float: left;
}
.nav-logo {
	width: @logo-width;
	float: left;
	height: 100%;
	position: relative;
	z-index: 2;
}

.logo-img {
	position: relative;
	top: -60px;
}

.dropdown a {
	cursor: pointer;
}

@media (max-width: @screen-md-max) {
	@ad-height: @ad-size + 25;

	#mainNav {
		&.has-ad {
			margin-top: @ad-height;
		}
	}

	.ad {
		top: -@ad-height;
	}

	.logo-img {
		top: -77px;
	}

	.nav > li > a {
		font-size: 18px;
	}
}

@media (max-width: @screen-sm-max) {
	@ad-height: @ad-size + 45px;
	#mainNav {
		&.has-ad {
			margin-top: @ad-height;
		}
	}

	.ad {
		width: 100%;
		top: -@ad-height;
	}

	.logo-img {
		top: -63px;
	}
}

@media (max-width: @screen-sm-er-max) {
	@nav-height: 35px;
	@ad-height: @ad-size;
	
	#mainNav {
		margin-top: @nav-height;
		height: 150px;
		&.has-ad {
			margin-top: @ad-height;
		}
	}

	.ad {
		top: -@ad-height;
		font-size: 17px;
	}

	@logo-width: 20%;
	.nav-left,
	.nav-right {
		width: 50% - (@logo-width / 2);
	}
	.nav-logo {
		width: @logo-width;
	}

	.logo-img {
		top: -35px;
	}
}

@media (max-width: @screen-xs-max) {
	@nav-height: 25px;
	@ad-height: @ad-size + 30;
	#mainNav {
		margin-top: @nav-height;
		&.has-ad {
			margin-top: @ad-height;
		}
		height: 150px;
	}

	@logo-width: 25%;
	.nav-left,
	.nav-right {
		width: 50% - (@logo-width / 2);
	}
	.nav-logo {
		width: @logo-width;
	}

	.logo-img {
		top: -25px;
	}

	.ad {
		top: -@ad-height;
	}
}

@media (max-width: @screen-iphone-max) {
	@ad-height: @ad-size;
	#mainNav {
		&.has-ad {
			margin-top: @ad-height;
		}
		height: 150px;
	}

	.ad {
		top: -@ad-height;
	}
	
	.logo-img {
		top: -15px;
	}
}

@media (max-width: @screen-iphone) {
	@ad-height: @ad-size;
	#mainNav {
		&.has-ad {
			margin-top: @ad-height;
		}
		height: 130px;
	}

	.ad {
		top: -@ad-height;
	}
	
	.logo-img {
		top: 10px;
	}
}