<div id="mainNav" ng-class="{beta: parseUser.isBetaUser()}">
	<div class="ad"
		 ng-click="launchAd()">
		SIGNUP AND GET THE <b>PRINT ‘N PLAY</b> EDITION!
	</div>
	<ul class="nav nav-pills nav-justified nav-left">

		<!-- universal nav -->
		<li ui-sref-active="active">
			<a ui-sref="home">Home</a>
		</li>

		<li>
			<a ng-click="getIt()">
			   Get It!
			</a>
		</li>

		<li ng-show="parseUser.isBetaUser()"
		    ui-sref-active="active">
			<a ui-sref="blog">Blog</a>
		</li>

	</ul>

	<a ui-sref="home"
	   class="nav-logo">
		<img src="img/logo.svg"
			 alt="God Hates Charades"
			 class="logo-img img-responsive">

		<!-- <div class="logo-img"></div> -->
	</a>

		<!-- <li ng-class="{ active: $state.includes('rules') }"
			ng-show="parseUser.isBetaUser()">
			<a ui-sref='rules'>Rules</a>
		</li> -->

	<ul class="nav nav-pills nav-justified nav-right">

		<li ng-hide="parseUser.isBetaUser()"
		    ui-sref-active="active">
			<a ui-sref="blog">Blog</a>
		</li>

		<li ui-sref-active="active"
		    ng-show="parseUser.isBetaUser()">
			<a ui-sref='top'>Cards</a>
		</li>
		<li ui-sref-active="active"
		    ng-show="parseUser.isBetaUser()">
			<a ui-sref='vote'>Vote</a>
		</li>
		<!-- <li ng-class="{ active: $state.includes('top') }"
			ng-show="parseUser.isBetaUser()">
			<a ui-sref='top'>Leaderboard</a>
		</li> -->

		<!-- user stuff -->
		<li class="dropdown"
		    ng-hide="parseUser.isAnon()">
			<a class="dropdown-toggle" 
			    data-toggle="dropdown">
				{{parseUser.data.attributes.name}}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li ui-sref-active="active">
					<a ui-sref='user({userid: parseUser.data.id})'>
						My Profile
					</a>
				</li>

				<!-- Admin section -->
				<li role="presentation" 
				    class="divider"
				    ng-show="parseUser.isAdmin()"></li>
				<li role="presentation" 
				    class="dropdown-header"
				    ng-show="parseUser.isAdmin()">
					ADMIN
				</li>
				<li ui-sref-active="active"
				    ng-show="parseUser.isAdmin()">
					<a ui-sref='admin.moderation'>Moderation</a>
				</li>
				<li ui-sref-active="active"
				    ng-show="parseUser.isAdmin()">
					<a ui-sref='admin.export'>Export</a>
				</li>
				<li ui-sref-active="active"
				    ng-show="parseUser.isAdmin()">
					<a ui-sref='admin.sets'>Set Builder</a>
				</li>

				<li role="presentation" class="divider"></li>
				<!-- logout -->
				<li>
					<a ng-click="parseUser.logout()">Logout</a>
				</li>
			</ul>
		</li>
		
		<li class="login" 
		    ui-sref-active="active"
		    ng-show="parseUser.isAnon()">
			<a ui-sref='login'>
				Login
			</a>
		</li>
	</ul>
</div>