<div class="pairInfo">
	<br>
	
	<!-- Always show this -->
	This pair was viewed {{pair.attributes.displayed || 0}}
	<ng-pluralize count="pair.attributes.displayed || 0"
	              when="times">
	</ng-pluralize>.
	{{(pair.attributes.chosen || 0)}}
	<ng-pluralize count="pair.attributes.chosen || 0"
	              when="person">
	</ng-pluralize>
	thought it was funny and {{(pair.attributes.skipped || 0)}}
	<ng-pluralize count="pair.attributes.skipped || 0"
	              when="person">
	</ng-pluralize>
	thought it sucked.
</div>