<section id="preorder"
         class="row row-horizontal-flush preorder-section">
  <a ng-href="{{preorderLink}}"
     ng-mouseup="onPreorderClicked('Preorder Animation')"
     target="_blank">
    <img src="img/pre_order_gif_02.gif"
         class="img-responsive"
         alt="Pre-Order Now!">
  </a>
  <div class="col-xs-offset-0 col-xs-12 col-sm-offset-3 col-sm-6">
    <a ng-href="{{preorderLink}}"
       ng-mouseup="onPreorderClicked('Preorder Button')"
       class="btn btn-success btn-block" 
       target="_blank">
      Preorder Now!
    </a>
  </div>
</section>