@media print {
	.cardContainer {
		text-align: center;
	}

	.printer .alert {
		display: none;
	}
	
	.setItem {
		-webkit-print-color-adjust: exact;
		width: 200px;
		height: 300px;
		display: inline-block;
		margin: 0 5px 0 0;
	}

	.colorless .card {
		background-color: white !important;
		border: 1px solid black;
	}

	.colorless .card svg path {
		fill: black;
		fill-opacity : 0.3;
	}
}