<div class="printer">
	<!-- Loading message -->
	<div class="alert alert-info" 
			ng-show="loading">
		Loading, this may take a while...</div>
	
	<!-- Error message -->
	<div class="alert alert-danger" 
			ng-show="errorMessage">
		Uh oh! {{errorMessage}}
	</div>

	<!-- Loaded message -->
	<div class="doNotPrint" 
			ng-show="!loading && !errorMessage">

		<table class="table table-striped">
			<tr>
				<th>Set Name</th>
				<th>Items</th>
				<th>B&W</th>
				<th>CSV</th>
			</tr>
			<tr ng-repeat="(index, set) in loadedSets | orderBy:['attributes.name']">
				<!-- Text -->
				<td ng-bind="set.attributes.name"></td>
				<!-- Text -->
				<td ng-bind="getCardCount(set)"></td>
				<!-- B&W Button -->
				<td class="tableButton">
					<button class="btn btn-info printButtons"
							ng-click="printBlack(set)">
						Print Black & White
					</button>
				</td>
				<!-- B&W Button -->
				<td class="tableButton">
					<downloader items="cardsBySet[set.id]"></downloader>
				</td>
			</tr>
		</table>
	</div>

	<!-- Print instructions -->
	<span class="page-break">
		<div class="row doPrint">
			<div class="printHeader">
				<span class="title">LETS PRINT</span>
				<img src="img/logo_bw.svg"
					 alt="God Hates Charades"
					 class="printLogo">
			</div>
			<div ng-html-compile="instructionsHtml"
			     class="instructions col-xs-8 col-xs-offset-2"></div>
		</div>
	</span>
	<!-- Play Instructions -->
	<span class="page-break">
		<div class="row">
			<div class="printHeader">
				<span class="title">LETS PLAY</span>
				<img src="img/logo_bw.svg"
					 alt="God Hates Charades"
					 class="printLogo">
			</div>
			<div ng-html-compile="rulesHtml"
			     class="rules col-xs-8 col-xs-offset-2"></div>
		</div>
	</span>
	<!-- One suggestion at a time -->
	<div class="cardContainer">
		
		<div class="setItem page-break"
			 ng-repeat="(index, setItem) in setItems | orderBy:'attributes.card.attributes.type'"
			 ng-init="suggestion = setItem.attributes.card">
			<card suggestion="suggestion"></card>
		</div>
		<div class="setItem page-break"
			 ng-repeat="extraItem in extraItems | orderBy:'type'">
			<card blank-type="extraItem.type" domain="true"></card>
		</div>
	</div>
</div>