<div class="printer">
	
	<!-- Loading message -->
	<div class="alert alert-info" 
			ng-show="loading">
		Loading, this may take a while...</div>
	
	<!-- Error message -->
	<div class="alert alert-danger" 
			ng-show="errorMessage">
		Uh oh! {{errorMessage}}
	</div>

	<!-- Loaded message -->
	<div class="doNotPrint" 
			ng-show="!loading && !errorMessage">
		{{setItems.length}} set items loaded
		<button class="btn btn-info printButtons"
				ng-click="printColor()">
			Print Full Color
		</button>
		<button class="btn btn-info printButtons"
				ng-click="printBlack()">
			Print Black & White
		</button>
	</div>

	<!-- Print instructions -->
	<!-- <div class="row doPrint">
		<h2>Lets Print</h2>
		<img src="img/logo.svg"
			 alt="God Hates Charades"
			 class="logo-img">
		<ul>
			<li class="checked">Download the pdf</li>
			<li><b>Sneak into a nearby office building with at least {{guestimatePages()}} sheets of 8.5 x 11 inch paper.</b>
				You can use the plain paper, but you have that friend... the one who reads backwards
				through translucent paper. Grab 80lb paper or better, and don’t invite that guy next time.</li>
		</ul>
	</div> -->

	<!-- One suggestion at a time -->
	<div class="cardContainer"
			ng-hide="loading || allApproved || !setItems">
		
		<div class="setItem page-break"
			 ng-repeat="(index, setItem) in setItems | orderBy:'attributes.card.attributes.type'"
			 ng-class="cardService.getTypeClass(setItem.attributes.card)"
			 ng-init="card = setItem.attributes.card">
			<card id="card.id"></card>
		</div>
	</div>


</div>