<div class="prompt bg-heavens"
     collapse="hideOverride || hide"
     ng-class="{social: social}">
	<!-- pairs increment by 2 each time, so 6 is 3 clicks -->

	<button type="button"
	        class="close"
	        ng-show="closable"
	        ng-click="hideOverride = true">
		<span aria-hidden="true">&times;</span>
		<span class="sr-only">Close</span>
	</button>

	<div class="promptBlock"
	     ng-class="promptBlockClasses"
	     ng-show="message || messageTemplateUrl"
	     template-include="messageTemplateUrl">
	</div>
	<addthis ng-if="social" sharing="sharingConfig"></addthis>
</div>
