@import "../less/colors";
@import "../less/bootstrap-variables";

.signup-section {
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;
	line-height: 20px;

	h2 {
		margin: 0;
	}

	.mailing-list {
		top: 0;
	}

	@media (max-width: @screen-sm-er-max) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@media (max-width: @screen-xs-max) {
		padding-left: 0px;
		padding-right: 0px;
	}

	@media (min-width: @screen-md-min) {
		.mailing-list:not(.submitted) {
			top: 20px;
		}
	}
}