<div class="submit">
	<h4>{{typeDisplay}}</h4>
	<div class="cardContainer"
	     ng-hide="success">
		<div class="card"
		     ng-class="typeClass">
			<span class="icon"
			  ng-include="imageUrl"></span>
			<div class="submitForm cardContent">
				<textarea ng-model="text"
				          class="editable"
				          placeholder="{{example}}"
				          maxlength="75"
				          required
				          textarea-noreturn>
				</textarea>
			</div>
		</div>
		<div class="alert"
		     ng-class="characterCount()">
			{{text.length}} / {{maxChars}} Characters
		</div>
		<button type="submit" 
		        class="btn btn-success submit"
		        ng-disabled="text.length == 0"
		        ng-click="submit()">
			Submit {{typeDisplay}}
		</button>
	</div>
	<div class="cardContainer"
	     ng-show="success">
			<div class="card submitted"
			     ng-class="typeClass">
				<span class="icon"
				  ng-include="imageUrl"></span>
				<div class="cardContent">
					<h5>Thanks for the submission <b>{{User.current.name}}</b>! Your card will be up soon.</h5>
				</div>
			</div>

			<button ng-click="reset()"
			        class="btn btn-info newCard">
				Create a new Card
			</button>
	</div>
</div>