<div class="suggestionSelector">
	<h5>Suggestions: {{suggestions.length}}</h5>
	<div class="cardList"
		 ng-hide="loading && skipIndex == 0"
		 infinite-scroll="loadSuggestions()"
		 infinite-scroll-disabled="loading"
		 infinite-scroll-immediate-check="true">
		<input ng-model="searchSelector"
			   placeholder="search here"
			   class="form-control">
			<table class="table table-striped">
				<tr>
					<th ng-show="showAdd">Add</th>
					<th>Suggestion</th>
					<th>Type</th>
					<th>Author</th>
				</tr>
				<tr ng-repeat="(index, suggestion) in suggestions | fuse:['attributes.text']:searchSelector"
				    ng-init="newText = suggestion.attributes.text"
				    tooltip="Double-click to edit"
				    tooltip-placement="left"
				    tooltip-popup-delay="300"
				    tooltip-append-to-body="true">
					<!-- Add button -->
					<td class="tableButton"
					    ng-show="showAdd">
						<a ng-click="selectSuggestion(suggestion)"
						   class="btn btn-success">
							+
						</a>
					</td>
					<!-- Text -->
					<td ng-dblclick="editSuggestion(this, suggestion)"
					    class="noselect">
						{{suggestion.attributes.text}}
						<span class="legal"
						      ng-if="suggestion.attributes.legal">
							{{suggestion.attributes.legal}}
						</span>
					</td>
					<!-- Type -->
					<td ng-class="cardService.getTypeClass(suggestion)"></td>
					<!-- Author Name -->
					<td ng-bind="suggestion.attributes.owner.attributes.name"></td>
				</tr>
			</table>
	</div>

	<div class="loadingAlert" 
			ng-show="loading">
		Loading...
	</div>
</div>