<div class="suggestionSelector">
	<h5>Suggestions: {{suggestions.length}}</h5>
	<div class="cardList"
		 ng-if="suggestions">
		<input ng-model="list.search"
			   placeholder="search here"
			   class="form-control">
			<table class="table table-striped"
			       infinite-scroll="loadSuggestions()">
				<tr>
					<th>Suggestion</th>
					<th>Type</th>
					<th>Author</th>
				</tr>
				<tr ng-repeat="suggestion in suggestions | fuse:list.searchProps:list.search | limitTo:list.limit track by suggestion.id"
				    card-details-modal="suggestion"
				    ng-init="newText = suggestion.text">
					<!-- Text -->
					<td class="noselect">
						{{suggestion.text}}
						<span class="legal"
						      ng-if="suggestion.legal">
							{{suggestion.legal}}
						</span>
					</td>
					<!-- Type -->
					<td ng-class="::suggestion.typeClass"></td>
					<!-- Author Name -->
					<td>{{::suggestion.owner.name}}</td>
				</tr>
			</table>
	</div>

</div>