<div class="topSubmissions">
	<ul class="nav nav-pills subnav">
		<li ng-class="{ active: tab == 'best' }">
			<a ng-click="reloadPairs('best')">
				Hall of Fame
			</a>
		</li>
		<li ng-class="{ active: tab == 'worst' }">
			<a ng-click="reloadPairs('worst')">
				Hall of Shame
			</a>
		</li>
		<li ng-class="{ active: tab == 'controversial' }">
			<a ng-click="reloadPairs('controversial')">
				Controversial
			</a>
		</li>
	</ul>
	<div class="cardList"
		 ng-hide="loading && skipIndex == 0">
			<table class="table">
				<tr>
					<th>Rank</th>
					<th>Pair</th>
					<th>Votes</th>
					<th>Skips</th>
					<th>Viewed</th>
					<th ng-show="parseUser.isAdmin()">KDR</th>
					<th ng-show="parseUser.isAdmin()">Cont</th>
					<th>Submitter</th>
					<th>Type</th>
				</tr>
				<tr ng-repeat="(index, pair) in pairs"
				    class="pair" 
				    ui-sref="pair(pairService.getLink(pair))">
					<td ng-bind="index + 1"></td>
					<!-- Text -->
					<td>
						<a ng-bind="pair.attributes.text"
						   ui-sref="pair(pairService.getLink(pair))"></a>
					</td>
					<!-- Votes -->
					<td ng-show="pair.attributes.chosen">
						{{pair.attributes.chosen | number}}
					</td>
					<td ng-hide="pair.attributes.chosen">0</td>
					<!-- Skips -->
					<td ng-show="pair.attributes.skipped">
						{{pair.attributes.skipped | number}}
					</td>
					<td ng-hide="pair.attributes.skipped">0</td>
					<!-- Views -->
					<td ng-bind="pair.attributes.skipped + pair.attributes.chosen"></td>
					<!-- kdr -->
					<td ng-bind="pair.attributes.kdr | number:1"
					    ng-show="parseUser.isAdmin()"></td>
					<!-- controversy -->
					<td ng-bind="pair.attributes.controversy"
					    ng-show="parseUser.isAdmin()"></td>
					<!-- Submitter -->
					<td>
						<a ui-sref="user({userid: pair.attributes.owner.id})">
							{{pair.attributes.owner.attributes.name}}
						</a>
					</td>
					<!-- Type -->
					<td ng-class="pairService.getTypeClass(pair)"></td>
				</tr>
			</table>
	</div>

	<div class="loadingAlert" 
			ng-show="loading">
		Loading...
	</div>
</div>