@import "../less/colors";

.cardList > table > tr > th  {
	border-top: none;
}
.cardList > table > tbody > tr > td, .cardList > table > tbody > tr > th {
	text-align: center;
	border-color: #F4EBDC;
	background: white;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: middle;
}

.cardList > table > tbody > tr > td.scenario {
	background-color: @color-scenario;
	background-image: url(../img/scenario_ball.svg);
	background-size: 34px 33px;
	background-repeat: no-repeat;
	background-position: center 50%;
}

.cardList > table > tbody > tr > td.character {
	background-color: @color-actor;
	background-image: url(../img/actor_skull.svg);
	background-size: 30px 34px;
	background-repeat: no-repeat;
	background-position: center 50%;
}

.cardList table {
	margin-bottom: 0;
}