<div>
	<div ng-if="!suggestions || suggestions.length == 0">No cards have been submitted.</div>

	<div class="cardList" 
		 ng-if="suggestions && suggestions.length > 0">
			<table class="table">
				<tr>
					<th>Rank</th>
					<th>Suggestion</th>
					<th>Votes</th>
					<th>Skips</th>
					<th>Viewed</th>
					<th>Type</th>
				</tr>
				<tr ng-repeat="(index, suggestion) in suggestions">
					<td ng-bind="index + 1"></td>
					<!-- Text -->
					<td>
						<a ui-sref="card(suggestion.getLink())">
							{{suggestion.text}}
						</a>
					</td>
					<!-- Votes -->
					<td>
						{{suggestion.getTotalVotes()}}
					</td>
					<!-- Skips -->
					<td>
						{{suggestion.getTotalSkips() | number}}
					</td>
					<!-- Views -->
					<td ng-bind="suggestion.getTotalViews()"></td>
					<!-- Type -->
					<td ng-class="suggestion.getTypeClass()"></td>
				</tr>
			</table>
	</div>

</div>