<div class="vote">

	<div class="loadingAlert" 
			ng-show="loading">
		Loading...</div>

	<!-- Repeat Pairs -->
	<div class="cardsContainer">
		<div class="pairContainer"
				ng-repeat="(index, pair) in suggestionPairs"
				ng-hide="loading"
				ng-click="selectPair(index)">
			<!-- Repeat suggestions in pairs -->
				<div class="card"
						ng-repeat="(index, suggestion) in pair"
						ng-class="cardService.getTypeClass(suggestion)">
					<div class="cardContent">
						{{suggestion.attributes.text}}
					</div>
				</div>
			<div class="separator" 
					ng-hide="$last">
				VS
			</div>
		</div>
	</div>

	<!-- Skip button -->

	<p ng-hide="loading">...or let us know if both suck.</p>
	<button ng-click="skipBoth()"
			ng-hide="loading"
			class="btn skip">
		These aren't funny
	</button>
</div>