@enter-time: 0.75s;
@leave-time: 1.2s;
@delay-time: 0.5s;
@short-leave-time: 0.5s;
@separator-size: 50px;

.vote {
	.cardsContainer {
		width: 90%;
		box-sizing: border-box;
		margin: 0 auto;
		height: 350px;
		position: relative;
		
		.pairContainer {
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			// opacity: 1;
			
			// Position right pair
			&.right {
				left: 50%;
			}

			.card {
				transition: transform 0.25s ease;
				width: 50%;
				display: inline-block;

				&.character {
					transform: scale(0.9, 0.9) translateX(5px);
					z-index: 9;
				}

				&.scenario {
					transform: scale(0.9, 0.9) translateX(-5px);
					z-index: 10;
				}
			}
		}

		.separator {
			font-weight: bold;
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 99;
			width: @separator-size;
			height: @separator-size;
			background: white;
			border-radius: @separator-size;
			text-align: center;
			line-height: @separator-size;
			box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);
			color: #5A4040;
			box-sizing: border-box;
			margin-left: -(@separator-size / 2);
			margin-top: -(@separator-size / 2);
		}
	}

	.skip {
		margin: 0 auto;
	}
	
	.socialPrompt {
		transition: all 0.5s ease 0.5s;
		background-color: #5FC99A;
		border-radius: 5px;
		background-image: url(../img/god_03_zps53cb184f.gif);
		background-size: 160px 121px;
		background-repeat: no-repeat;
		background-position: right;
		position: relative;
		overflow: hidden;

		&.active {
			height: auto;
			margin-bottom: 15px;
		}

		.promptBlock, .shareBlock {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		.promptBlock {
			font-size: 18px;
			font-family: 'GodHatesCharades';
			text-transform: uppercase;
			color: white;
			padding-left: 20px;
		}

		.shareBlock {
			position: relative;
			padding-right: 0;
			padding-left: 0;

		}

		.addthis_toolbox {
			position: absolute;
			bottom: 15px;
			right: 0;
		}

		.close {
			float: left;
			position: relative;
			left: 10px;
			top: 5px;
		}
	}
}

@media (max-width: 1200px) {
	.vote {
		.cardsContainer {
			height: 300px;
		}
	}
}

@media (max-width: 991px) {
	.vote {
		.cardsContainer {
			height: 225px;
		}
	}
}

@media (max-width: 620px) {
	.vote {
		.cardsContainer {
			height: auto;

			.pairContainer {
				position: relative;
				width: 100%;
				top: 0;
				left: 0;

				&.right {
					top: 0;
					left: 0;
				}
			}
		}
		.socialPrompt {
			.promptBlock {
				font-size: 15px;
			}
		}
	}
}

// card animations
@media (min-width: 621px) {
	.vote {
		.pairContainer {

			&.chosen {
				.card {
					box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);

					&.character {
						transform: scale(0.97, 0.97) rotate(-8deg) translateX(15px);
					}

					&.scenario {
						transform: scale(1, 1) rotate(6deg) translateX(-15px);
					}
				}
			}

			// Entrance animations for both pairs
			&.ng-enter {
				transition: opacity @enter-time ease-out;
				opacity: 0;
			}
			 
			&.ng-enter.ng-enter-active {
				opacity: 1;
			}
			
			// Delay the entrance for all except the first set
			// Delay allows time for the previous pairs to exit
			&.ng-enter.ng-enter-active:not(.firstSet) {
				transition-delay: @delay-time;
			}

			// Exit animations
			// (at least one animation must use the full leave-time)
			&.ng-leave {
				transition: top @leave-time,
				            opacity @short-leave-time ease-out,
				            transform @short-leave-time ease,
				            left @short-leave-time ease;
			}

			&.ng-leave.ng-leave-active {
				
				&.chosen {
					z-index: 100;
					animation: waitthenfade @leave-time;
					transform: scale(1.1, 1.1);
					left: 25%;
				}

				&:not(.chosen) {
					opacity: 0;
					top: 600px;

					.card:first-child {
						transform: rotate(-6deg);
					}
					.card:last-child {
						transform: rotate(-3deg);
					}

					&.right {
						.card:first-child {
							transform: rotate(6deg);
						}
						.card:last-child {
							transform: rotate(3deg);
						}
					}
				}
			}

			// Allows the chosen pair to center before fading out
			@-webkit-keyframes waitthenfade {
				50% { opacity: 1; }
				100% { opacity: 0; }
			}
		}
	}
}


@media (min-width: 1025px) {
	.vote {
		.pairContainer {
			&:hover {
				.card {
					box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);

					&.character {
						transform: scale(0.97, 0.97) rotate(-8deg) translateX(15px);
					}

					&.scenario {
						transform: scale(1, 1) rotate(6deg) translateX(-15px);
					}
				}
			}
		}
	}
}