<div class="vote">

	<div class="loadingAlert" 
	     ng-show="loading">
		Loading...</div>

	<!-- AddThis Button BEGIN -->
	<div class="socialPrompt"
	     ng-class="{active: pairIndex > 1}">
		We need your help putting our game in the cloud!
		<div class="addthis_toolbox addthis_default_style pull-right">
			<a class="addthis_button_facebook_like"
			   fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
		</div>
	</div>
	<!-- AddThis Button END -->

	<!-- Repeat Pairs -->
	<div class="cardsContainer">
		<div class="pairContainer"
		     ng-repeat="(index, pair) in suggestionPairs"
		     ng-class-even="'right'"
		     ng-class="{firstSet: pair.first}"
		     ng-click="selectPair($event, index)">
			<!-- Repeat suggestions in pairs -->
				<card ng-repeat="(index, suggestion) in pair"
				      card-id="suggestion.id">
				</card>

		</div>
		<div class="separator" 
		     ng-hide="loading">
			VS
		</div>
	</div>

	<!-- Skip button -->

	<p ng-hide="loading">...or let us know if both suck.</p>
	<button ng-click="skipBoth()"
	        ng-hide="loading"
	        class="btn skip">
		These aren't funny
	</button>
</div>