<div class="vote">

	<div class="loadingAlert" 
	     ng-show="loading">
		Loading...</div>

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
			<prompt hide="pairIndex < 6"
			        message-template="components/vote.prompt.html"
			        closable="true"
			        social="true"
			        social-message="Help choose new cards for #GodHatesCharades">
			</prompt>
		</div>
	</div>

	<!-- Repeat Pairs -->
	<div class="cardsContainer">
		<div class="pairContainer"
		     ng-repeat="(index, pair) in suggestionPairs"
		     ng-class-even="'right'"
		     ng-class="{firstSet: pair.first}"
		     ng-click="selectPair($event, index)">
			<!-- Repeat suggestions in pairs -->
				<card ng-repeat="(index, suggestion) in pair"
				      card-id="suggestion.id">
				</card>

		</div>
		<div class="separator" 
		     ng-hide="loading">
			VS
		</div>
	</div>

	<!-- Skip button -->

	<p ng-hide="loading"
	   class="skip-head">
		...or let us know if both suck.
	</p>
	<button ng-click="skipBoth()"
	        ng-hide="loading"
	        class="btn btn-success skip">
		These aren't funny
	</button>
</div>