@import "../less/colors";

.blog {
	h2 {
		text-align: left;
		color: black;
	}

	.post {
		margin: 20px 0 25px 0;
		clear: both;

		.details {
			padding-top: 10px;

			.permalink {
				float: right;
				color: rgba(0, 0, 0, 0.5);
				font-weight: bold;
			}
		}
	}
}