<div id="blogView" class="blog container col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
	<ui-view>
		<div class="postsContainer">
			<div ng-repeat="(key, post) in blogPosts"
			     class="post prismic-content row" 
			     ng-init="body = post.getStructuredText('blog.body')">
				<!-- post main image || embed || youtube-->
				
				<div class="col-md-6 col-lg-6">
					<youtube id="mainYoutube"
					         fluid="true"
					         ng-init="mainYoutube = post.getText('blog.youtube')"
					         ng-show="mainYoutube">
					</youtube>

					<div ng-html-compile="mainEmbed"
					     ng-init="mainEmbed = post.getHtml('blog.embed')"
					     ng-show="mainEmbed"
					     class="mainEmbed"></div>

					<img ng-init="mainImage = post.getImageView('blog.image', 'main')"
					     ng-show="mainImage"
					     class="mainImage"
					     ng-src="{{mainImage.url}}">
				</div>

				<!-- post title + body -->
				<div ng-if="body"
				     class="body col-md-6 col-lg-6">
					<a ui-sref="blog.detail({id: post.id})">
						<h2 ng-bind-html="body.getTitle().text">
						</h2>
					</a>
					<div class="details">
						<b class="date">{{post.getDate('blog.date') | date:'MMMM d, yyyy'}}</b>
					</div>
					<div ng-html-compile="body.getFirstParagraph().text"
					     class="copy">
					</div>
					<a class="permalink"
					   ui-sref="blog.detail({id: post.id, slug: post.slug})">
						Continue reading
					</a>
				</div>
			</div>
		</div class="postsContainer">
	</ui-view>
</div>