@import "../less/colors";

@margin-post-top: 25px;
@margin-post-bottom: 35px;

.blog.container {
	padding-top: 20px;
	.post {
		clear: both;
		margin-top: @margin-post-top;
		margin-bottom: @margin-post-bottom;

		&.post-detail {
			.details {
				margin-bottom: 25px;
			}
		}

		&:not(.post-detail) {
			font-size: 14px;
		}

		h2 {
			text-align: left;
			// background-color: black;
			color: black;
			padding: 0 0 10px 0;
			width: 100%;
			line-height: 32px;
			margin-top: 0;
			margin-bottom: 0;
		}

		h3 {
			text-align: left;
		}

		.mainImage img {
			margin-top: 0;
		}

		.mainEmbed {
			overflow: hidden;
		}

		.body {
			.details {
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.permalink {
				font-weight: bold;
			}
		}
	}

	a.title {
		text-decoration: none;
	}
}