<div class="post post-detail prismic-content col-md-10 col-md-offset-1">
	<div>
		<youtube id="mainYoutube"
		         fluid="true"
		         ng-init="mainYoutube = post.getText('blog.youtube')"
		         ng-show="mainYoutube">
		</youtube>

		<div ng-html-compile="mainEmbed"
		     ng-init="mainEmbed = post.getHtml('blog.embed')"
		     ng-show="mainEmbed"
		     class="mainEmbed"></div>

		<img ng-init="mainImage = post.getImageView('blog.image', 'main')"
		     ng-show="mainImage"
		     class="mainImage"
		     ng-src="{{mainImage.url}}">
	</div>
	<!-- <div class="details">
		<b class="date">
			{{post.getDate('blog.date') | date:'MMMM d, yyyy'}}
		</b>
	</div> -->
	<div ng-html-compile="bodyHtml"></div>
	<div class="details">
		<a class="permalink"
		   ui-sref="blog">
			Back to blog
		</a>
	</div>
	<div class="well"
	     ng-show="disqus.show">
		<disqus-here shortname="{{disqus.shortname}}"
		             url="{{disqus.url}}"
		             identifier="{{disqus.id}}"
		             display-comments="disqus.show">
		</disqus-here>
	</div>
</div>