<div id="cardView" class="container">
	<div class="col-md-4">
		<card id="cardid"></card>
		<card-info id="cardid"></card-info>
	</div>
	<div class="col-md-8 social">
		<h3>Share it</h3>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
		</div>
		<!-- AddThis Button END -->
		<div id="disqus_thread"
		     ng-non-bindable></div>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>