<div id="elements"
     class="container">
  <h1>God Hates Charades Components</h1>
  <section ng-repeat="section in sections"
           class="row">
    <h4>{{section.title}}</h4>
    <div class="col-sm-offset-1 col-sm-10">
      <div class="well row">
        <div ng-repeat="prop in section.props"
             class="col-xs-6 property">
          <h6 ng-html-compile="prop.title"></h6>
          <p ng-html-compile="prop.description"></p>
        </div>
        <div class="form-group col-md-12">
          <textarea class="form-control"
                    ng-model="section.code">
          </textarea>
        </div>
      </div>

    </div>
    <div ng-html-compile="section.code"
         class=""></div>
  </section>
</div>