<div class="videoUnlock row">
	<h1 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		{{leanplum.vars.homeHeadline}}
	</h1>
	<div class="col-md-6 col-lg-6">
	     <vine id="vineId || leanplum.vars.homeVideo"
	              class="video col-xs-12 col-sm-12 col-md-12 col-lg-12"
	              aspect-w="1"
	              fluid="true"
	              aspect-h="1">
		</vine>
	</div>
	<div class="col-md-6 col-lg-6">
		<h3 ng-bind-html="leanplum.vars.homeSubtitle"></h3>

		<img src="img/printnplayAd.svg"
			 alt="Print N' Play: Enter your email and we will send you a copy that you can print and play today!"
			 class="printnplay img img-responsive printnplay">
		<mailchimp class="form-inline"
		           action-form="submitEmail('homepage_video_unlock')">
		</mailchimp>
	</div>
</div>