/* Sections */
#homeView section {
	padding-top: 35px;
	padding-bottom: 35px;
}

#homeView section.examples {
	padding-top: 0;
	padding-left: 197px;
	padding-right: 197px;
}

#homeView section.examples h2 {
	margin-top: 36px;
	font-size: 38px;
}

#homeView section.examples p {
	font-size: 25px;
	text-align: center;
}

#homeView section.signup {
	padding-left: 100px;
	padding-right: 100px;
	margin-left: -30px;
	margin-right: -30px;
}

#homeView section.signup p {
	width: 50%;
	font-family: 'GodHatesCharades';
	font-size: 29px;
	line-height: 34px;
	margin: 0;
	padding: 0;
}

#homeView section.signup b {
	color: black;
}

#homeView section.signup .form-group {
	width: 65%;
	float: left;
}

#homeView section.ios .form-group {
	width: 65%;
	float: left;
}

/* End Sections*/

/* Mailchimp signup form */
#mc_embed_signup {
	text-align: center;
	background: #54C2C8;
	line-height: 20px;
	color: white;
}

#mc_embed_signup h3 {
	line-height: 44px;
	padding-top: 2px;
	width: 50%;
}

#mc-embedded-subscribe-form {
	width: 48%;
	position: relative;
	top: 12px;
	float: right;
}

#mc-embedded-subscribe-form .email {
	text-indent: 15px;
	height: 44px;
	line-height: 44px;
	font-weight: bold;
	margin: 0;
	border: 0;
	width: 100%;
	font-size: 22px;
}


@media (max-width: 767px) {
	#mc-embedded-subscribe-form .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	#mc_embed_signup h3 {
		margin-bottom: 10px;
	}
}

#mc-embedded-subscribe {
	margin: 0;
	background: #FF6751;
	/* position: relative; */
	/* left: -4px; */
	width: 35%;
	float: left;
}
/* End Mailchimp */

#kickstarter {
	text-align: center;
	background-color: black;
	color: white;
}

#kickstarter h3 {
	margin-top: 0;
	margin-bottom: 20px;
}

#kickstarter .timerNumber {
	font-family: 'GodHatesCharades';
	font-size: 75px;
	text-indent: 4px;
	line-height: 80px;
	font-weight: bold;
}

#kickstarter .timerText {
	font-family: 'GodHatesCharades';
	font-size: 19px;
	text-transform: uppercase;
}

#kickstarter .btn {
	width: 25%;
	margin: 0 auto;
}

#kickstarter .btn:hover {
	background-color: #73CE00;
}

#kickstarter .kickstarter {
	color: #73CE00;
}

#homeView .cardTypeLeft, #homeView .cardTypeRight {
	font-size: 24px;
	font-family: 'Mimbie';
	padding-top: 130px;
}

#homeView .cardTypeLeft {
	text-align: right;
	right: -50px;
}

#homeView .cardTypeRight {
	text-align: left;
	left: -45px;
}

#homeView .cardTypeLeft b, #homeView .cardTypeRight b {
	font-size: 44px;
	font-weight: normal;
	vertical-align: -8px;
}

#homeView .examplesContainer {
	padding-bottom: 40px;
	padding-left: 0;
	padding-right: 0;
}

#homeView .rules {
	color: black;
}

@media (max-width: 767px) {
	#homeView .rules > div:not(:first-child) {
		padding-top: 30px;
	}

	#kickstarter .timerNumber {
		font-size: 63px;
		line-height: 65px;
	
}

	#kickstarter .timerText {
		font-size: 15px;
	}


}