<section class="examplesUnlock">
	<examples class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	</examples>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>
			{{leanplum.vars.homeHeadline}}
		</h2>
		<p>
			{{leanplum.vars.homeSubtitle}}
		</p>
		
		<mailchimp class="form-inline"
		           action-form="submitEmail('homepage_examples_unlock')">
		</mailchimp>
		<h2>THEN</h2>
		<a class="btn btn-success"
		   href="http://www.godhatescharades.com/print/GodHatesCharadesPrintNPlay_Beta.pdf"
		   target="_blank"
		   ng-disabled="!emailSubmitted">
			{{leanplum.vars.homeDownloadCopy}}
		</a>
	</div>
</section>