#homeView {
	background-color: white;
	padding-top: 55px;
}

#homeView h4, #homeView h2 {
	text-align: center;
}

#homeView h2 {
	max-width: 640px;
	margin: 40px auto 0 auto;
}

#homeView h4 {
	font-size: 30px;
}

#homeView h4 b {
	font-size: 52px;
}

#homeView .row {
	padding: 20px 0;
	overflow: hidden;
}

#homeView .thumbnail {
	background-size: cover;
	background-position: center center;
	height: 250px;
}

#homeView .thumbnail.actor {
	background-image: url(http://placehold.it/250x250);
}

#homeView .thumbnail.guesser {
	background-image: url(http://placehold.it/250x250);
}

#homeView .thumbnail.god {
	background-image: url(http://placehold.it/250x250);
}

#homeView p {
	font-family: 'Helvetica';
	font-size: 16px;
	padding: 0 30px;
}
#homeView p b {
}

#mc_embed_signup {
	text-align: center;
	background: black;
	line-height: 20px;
	color: white;
}

#mc_embed_signup h3 {
	display: inline-block;
	margin: 0 20px 0 0;
	line-height: 44px;
}

#mc-embedded-subscribe-form {
	width: 320px;
	display: inline-block;
	position: relative;
	top: -7px;
}

#mc-embedded-subscribe-form .email {
	text-indent: 5px;
	height: 43px;
	line-height: 34px;
	font-weight: bold;
}


@media (max-width: 767px) {
	#mc-embedded-subscribe-form .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	#mc_embed_signup h3 {
		margin-bottom: 10px;
	}
}

#mc-embedded-subscribe {
	margin: 0;
	display: inline-block;
	background: #FF6751;
}

#kickstarter {
	text-align: center;
	background-color: black;
	color: white;
}

#kickstarter h3 {
	margin-top: 0;
	margin-bottom: 20px;
}

#kickstarter .timerNumber {
	font-family: 'GodHatesCharades';
	font-size: 75px;
	text-indent: 4px;
	line-height: 80px;
	font-weight: bold;
}

#kickstarter .timerText {
	font-family: 'GodHatesCharades';
	font-size: 19px;
	text-transform: uppercase;
}

#kickstarter .btn {
	width: 25%;
	margin: 0 auto;
}

#kickstarter .btn:hover {
	background-color: #73CE00;
}

#kickstarter .kickstarter {
	color: #73CE00;
}

#homeView .cardTypeLeft, #homeView .cardTypeRight {
	font-size: 24px;
	font-family: 'Mimbie';
	padding-top: 130px;
}

#homeView .cardTypeLeft {
	text-align: right;
	right: -50px;
}

#homeView .cardTypeRight {
	text-align: left;
	left: -45px;
}

#homeView .cardTypeLeft b, #homeView .cardTypeRight b {
	font-size: 44px;
	font-weight: normal;
	vertical-align: -8px;
}

#homeView .examplesContainer {
	margin-top: 40px;
	padding-bottom: 40px;
	padding-left: 0;
	padding-right: 0;
}

#homeView .rules {
	color: black;
}

@media (max-width: 767px) {
	#homeView .rules > div:not(:first-child) {
		padding-top: 30px;
	}

	#kickstarter .timerNumber {
		font-size: 63px;
		line-height: 65px;
	
}

	#kickstarter .timerText {
		font-size: 15px;
	}


}