<section class="videoUnlock row">
	<div class="col-md-6 col-lg-6">
	     <youtube id="leanplum.vars.homeVideo"
	              class="youtube col-xs-12 col-sm-12 col-md-12 col-lg-12"
	              aspect-w="16"
	              fluid="true"
	              aspect-h="11">
		</youtube>
	</div>
	<div class="col-md-6 col-lg-6">
		<h2>
			{{leanplum.vars.homeHeadline}}
		</h2>
		<p>
			{{leanplum.vars.homeSubtitle}}
		</p>
		
		<mailchimp class="form-inline"
		           action-form="submitEmail()">
		</mailchimp>
		<h2>THEN</h2>
		<a class="btn btn-success"
		   href="http://bit.ly/1hQ71xl"
		   target="_blank"
		   ng-disabled="!emailSubmitted">
			{{leanplum.vars.homeDownloadCopy}}
		</a>
	</div>
</section>