<section class="quickInfoA">
	<youtube id="leanplum.vars.homeVideo"
	         class="youtube col-xs-12 col-sm-12 col-md-6 col-lg-6"
	         aspect-w="16"
	         fluid="true"
	         aspect-h="11">
	</youtube>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>
			Act out the vile and despicable inside all of us.
		</h2>
		<p>
			A fast paced <b>acting</b> and <b>guessing</b> party game of crude humor and embarrassing scenarios.
		</p>
		
		<mailchimp class="form-inline"
		           action-form="submitEmail()">
		</mailchimp>
		<h2>THEN</h2>
		<a class="btn btn-success"
		   href="http://www.godhatescharades.com/print/GodHatesCharadesPrintNPlay_Beta.pdf"
		   target="_blank"
		   ng-disabled="!emailSubmitted">
			Download Print N' Play PDF
		</a>
	</div>
</section>