<section class="quickInfoB">
	<youtube id="leanplum.vars.homeVideo"
	         class="youtube col-xs-12 col-sm-12 col-md-6 col-lg-6"
	         aspect-w="16"
	         fluid="true"
	         aspect-h="11">
	</youtube>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>
			A fast paced acting and guessing party game.
		</h2>
		<p>
			Full of crude humor and embarrassing scenarios. Act out the vile and despicable inside all of us.
		</p>
		
		<mailchimp class="form-inline"
		           action-form="submitEmail()">
		</mailchimp>

		<a class="btn btn-success"
		   href="http://www.godhatescharades.com/print/GodHatesCharadesPrintNPlay_Beta.pdf"
		   target="_blank"
		   ng-disabled="!emailSubmitted">
			Download Print N' Play PDF
		</a>
		<p class="subscribe">
			Subscribe to unlock the Print ‘n Play edition!
		</p>
	</div>
</section>