<div id="homeView" class="container">

	<!-- Homepage control -->
	<span ng-include="mainLayout">
	</span>

	<section class="tutorial row">
		<div class="slide slide-one"
			 ng-class="getSlideForIndex(0)">
			<div class="slide-content"></div>
		</div>
		<div class="slide slide-two"
			 ng-class="getSlideForIndex(1)">
			<div class="slide-content"></div>
		</div>
		<div class="slide slide-three"
			 ng-class="getSlideForIndex(2)">
			<div class="slide-content"></div>
		</div>
		<div class="slide slide-four"
			 ng-class="getSlideForIndex(3)">
			<div class="slide-content"></div>
		</div>

		<a class="prevBtn"
		   ng-click="prevSlide()"
		   ng-hide="currentSlide == 0">
		   <img src="img/hand.png">
			PREV
		</a>
		<a class="nextBtn"
		   ng-click="nextSlide()"
		   ng-hide="currentSlide == maxSlides">
		   <img src="img/hand.png">
			NEXT
		</a>
	</section>

	<!-- Begin MailChimp Signup Form -->
	<section id="email_signup"
			 class="signup row">
		<p class="col-md-6">
			SUBSCRIBE TO RECEIVE UPDATES + THE <b>PRINT ‘N PLAY</b> EDITION!
		</p>
		<mailchimp class="form-inline col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6">
		</mailchimp>
	</section>
	<!--End mc_embed_signup-->

	<!-- iOS Ad section -->
	<section class="ios"
			 ng-show="ipad.active">
		<h2>We like pixels too!</h2>
		<h3>Grab the game for free on the ipad</h3>
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<h4>The Facts</h4>
				<ul>
					<li>Absurd content</li>
					<li>Beautiful art by Damien Weighill</li>
					<li>2-8 Players (Pass and Play)</li>
					<li>Fast paced acting and guessing</li>
					<li>Easy to learn, difficult to master</li>
				</ul>
				<p>(Signup for updates to be notified when we release on Android.)</p>
				<a href="http://itunes.apple.com"
				   target="_blank"
				   class="btn">
				   Get the app!
				</a>
			</div>
			<div class="col-md-6 col-lg-6">
				<img src="img/ipadScreenshot.png"
					 class="screenshot" 
					 alt="Screenshot of God Hates Charades for iPad"/>
			</div>
		</div>
	</section>
	<!-- end iOS Ad section -->
</div>