<section class="videoUnlock">
	<div class="col-md-12">
		<h1>
			{{leanplum.vars.homeHeadline}}
		</h1>
	</div>
	<div class="col-md-6 col-lg-6">
		<h3 ng-bind-html="leanplum.vars.homeSubtitle"></h3>
		
		<!-- <h4>{{leanplum.vars.homeCTA}}</h4> -->

		<img src="img/printnplayAd.svg"
		     alt="Print N' Play: Enter your email and we will send you a copy that you can print and play today!"
		     class="img img-responsive printnplay">
		<mailchimp class="form-inline"
		           action-form="submitEmail('homepage_video_unlock')">
		</mailchimp>
	</div>
	<div class="col-md-6 col-lg-6">
		<youtube id="youtubeId || leanplum.vars.homeVideo"
		          class="video"
		          thumb="'img/video_title.png'"
		          fluid="true"
		          aspect-w="16"
		          autoplay="true"
		          aspect-h="9">
		</youtube>
	</div>
</section>