<div id="loginView" class="container">
	<span ng-hide="parseUser.isReal()">
		<div class="row">
			<!-- left side -->
			<h3 class="col-sm-6">
				Create a new account
			</h3>

			<!-- right side -->
			<h3 class="col-sm-6">
				Login
			</h3>
		</div>
		<div class="row">
			<!-- left side -->
			<signup class="col-sm-6 col-md-6 col-lg-6"></signup>

			<!-- right side -->
			<login class="col-sm-6 col-md-6 col-lg-6"></login>
		</div>
	</span>
	<span ng-show="parseUser.isReal()">
		<h3>
			You're logged in
		</h3>
		<button class="btn btn-success"
				ui-sref="user({userid: parseUser.data.id})">
			View Profile
		</button>
		<hr>
		<button class="btn btn-success"
				ng-click="parseUser.logout()">
			Logout
		</button>
	</span>
</div>