<div id="thanksView" class="container">
	<div class="col-md-offset-3 col-md-6">
		<h2>Subscription Confirmed</h2>
		<img src="img/printnplaySent.svg"
		     alt="Print N' Play: We're sending a copy of our Print N' Play to your inbox!"
		     class="img img-responsive printnplay">
		<h3>From here on out we'll send small updates when we do interesting things.</h3>
		<h3>For example we'll let you know when our Kickstarter launches(hint, hint) and when we release new Print N Play expansions.</h3>
	</div>
</div>