<div id="moderationView" class="container">
	<h2>Moderation</h2>
	<div class="moderator">

		<!-- One suggestion at a time -->
		<div class="col-md-6">
			<div class="alert alert-info" 
			     ng-show="loading">
				Loading...</div>

			<div class="alert alert-info" 
			     ng-show="!suggestion || (allApproved && !errorMessage)">
				Thats all folks... dont you have something better you could be doing?
			</div>

			<div class="alert alert-danger" 
			     ng-show="errorMessage">
				Uh oh! {{errorMessage}}
			</div>
			<div class="cardContainer"
			     ng-hide="allApproved || !suggestion">
				<card suggestion="suggestion"
				      updatable="true"></card>
				<card-link suggestion="suggestion"></card-link>
				
				<card-form suggestion="suggestion"
				           ng-if="suggestion"
				           save-on-submit="false"></card-form>
				
				<div class="btn-group">
					<button class="btn btn-xs btn-success"
					        ng-click="approve()">
						Approve &amp; Save
					</button>
					<button class="btn btn-xs btn-danger"
					        ng-click="disapprove()">
						Disapprove
					</button>
					<button ng-click="skip()"
					        class="btn btn-xs btn-info skip">
						Ask me later
					</button>
				</div>
			</div>
		</div>
		<suggestion-selector class="col-sm-6 col-md-6 col-lg-6"
		                     suggestions="approved"
		                     search="suggestion.text"></suggestion-selector>


	</div>
</div>