<div id="pairView" class="container">
	<prompt message-template="views/pairView.prompt.html"
	        class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">
	</prompt>
	<div class="col-md-6">
		<div class="pair">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<card suggestion="actor"
				      updatable="true"></card>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<card suggestion="scenario"
				      updatable="true"></card>
			</div>
		</div>
		<pair-info id="pair.id"></pair-info>

		<h2>Share it</h2>
		<addthis sharing="sharingConfig"></addthis>
		<disqus-here shortname="{{disqus.shortname}}"
		             url="{{disqus.url}}"
		             identifier="{{disqus.id}}">
		</disqus-here>
	</div>
	<div class="col-md-6 col-lg-6">
		<!-- Upload! -->
		<h2>Watch people act it out</h2>
		<youtube-list query="title"></youtube-list>
	</div>
</div>