#pairView {
	margin-top: 25px;
}


@media (max-width: 620px) {
	#pairView {
		.prompt {
			.btn {
				display: block;
			}
		}
	}
}

@media (max-width: 1200px) {
	#pairView {
		.prompt {
			.btn {
				margin-top: 15px;
			}
		}
	}
}