<div id="pairView" class="container">
	<div class="col-md-6">
		<div class="row pair">
			<div class="col-md-6">
				<card card-id="actorId"
				      updatable="true"></card>
			</div>
			<div class="col-md-6">
				<card card-id="scenarioId"
				      updatable="true"></card>
			</div>
		</div>
		<pair-info id="pairId"></pair-info>
	</div>
	<div class="col-md-6 social">
		<h3>Share it</h3>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
		</div>
		<!-- AddThis Button END -->
		<disqus-here shortname="{{disqus.shortname}}"
		             url="{{disqus.url}}"
		             identifier="{{disqus.id}}">
		</disqus-here>
	</div>
</div>