<div id="publicProfileView"
	 class="container">
	<!-- <link rel="stylesheet" type="text/css" href="css/profileView.css"> -->
	<h2>Print N Play Downloads</h2>
	<div class="btns">
		<a href="http://www.godhatescharades.com/print/GodHatesCharadesPrintNPlay_Beta.pdf"
		   target="_blank"
		   class="btn btn-success">
			Kit N Play: Round 1
		</a><a href="http://www.godhatescharades.com/print/GodHatesCharadesPrintNPlay_Beta2.pdf"
		   target="_blank"
		   class="btn btn-success">
			Kit N Play: Round 2
		</a>
	</div>
	<!-- non beta users -->
	<h3 ng-if="!User.current.beta">
		New features coming soon. But you can <a ui-sref="vote">get voting now</a>!
	</h3>

	<!-- beta users -->
	<div ng-if="User.current.beta"
	     class="backerZone row">
		<h1>Backers Only Down Here!</h1>

		<div class="btns">
			<a class="btn btn-success"
			   ui-sref="timeline">
				See our Kickstarter timeline!
			</a>
		</div>

		<h2>Help build the game</h2>
		<div class="btns">
			<a ui-sref="submit"
			   class="btn btn-success">
				Submit new cards
			</a>
		</div>

	</div>

	<h2>Submissions from {{publicProfile.owner.name}}</h2>
	<user-submissions suggestions="publicProfile.owner.suggestions">
	</user-submissions>
</div>