<div id="publicProfileView"
	 class="container">
	<!-- <link rel="stylesheet" type="text/css" href="css/profileView.css"> -->
	<h2>Print N Play Downloads</h2>
	<div class="btn-group">
		<a href="http://www.godhatescharades.com/print/GodHatesCharadesPrintNPlay_Beta.pdf"
		   target="_blank"
		   class="btn btn-success btn-group">
			Kit N Play: Round 1
		</a>
		<a href="http://www.godhatescharades.com/print/GodHatesCharadesPrintNPlay_Beta2.pdf"
		   target="_blank"
		   class="btn btn-success btn-group">
			Kit N Play: Round 2
		</a>
	</div>
	<!-- non beta users -->
	<h3 ng-show="currentUser && !betaUser">
		New beta features coming soon. But you can <a ui-sref="vote">get voting now</a>!
	</h3>

	<!-- beta users -->
	<div ng-hide="currentUser && !betaUser">
		<user-submissions userid="userid">
		</user-submissions>
	</div>
</div>