<div id="rulesView">
	<h2>What is God Hates Charades?</h2>
	<hr>
	
	<p>God Hates Charades is a game where you can talk, shout, and say vile things in the form of 30 second act outs.</p>

	<h3>Roles</h3>

	<p>Players take on three roles during the game.</p>

	<div class="row">
		<div class="col-md-4">
			<h4>The Actor</h4>
			<div class="thumbnail actor"></div>
			A player will assume the actor position. Their job will be to <b>act out the scene</b> given to them by one of the other players.
		</div>
		<div class="col-md-4">
			<h4>The Guesser</h4>
			<div class="thumbnail guesser"></div>
			All players who aren’t acting are guessers. Their job is to <b>guess what the actor is doing</b> unless the actor picks your scene. If the actor picks your scene you become the God player.
		</div>
		<div class="col-md-4">
			<h4>God</h4>
			<div class="thumbnail god"></div>
			As the God player their job is to <b>throw off the other players</b> by making stupid guesses and just causing problems. After all God Hates Charades.
		</div>
	</div>

	<h3>Quick Rules</h3>

	<p>An actor may not say any words printed on the card while doing their act out.</p>

	<p>An actor may not say any words that are synonyms of words printed on the card.</p>

	<p>The God player gets to determine if a guess from a player counts or not. It is recommended to play by the “Jist” rules. Advanced players can play by the more “strict” rules.</p>

	<h3>Winning</h3>

	<p>Play takes place in two rounds.</p>

	<p>The first round is called the “general round”. In this round players act, guess, and mislead each other until two or more player have captured 7 points. Each player has 30 seconds to act out their scene.</p>

	<p>The second round is called the “lighting round”. In this round the players with 6 points do a series of act outs. The other players act as the guessers. Each of the 6 point players continuously act out scenes drawn at random until one player can’t get the other players to guess their scene. During this round each guess an actor gets counts as a point. Each person who guesses correctly also gets a point.</p>

	<p>The winner is the player with the most points. In most cases this the actor who didn’t get eliminated in round two. But that’s not always the case.</p>

	<h2>Detailed Rules</h2>

	<p>Cards are broken up into two decks.</p>

	<p>The first deck is the actor deck.</p>

	<p>The actor deck will inform the acting player what character you will be playing in their charade/scene. An actor card will fall into the following category types; a person, a persona, a profession, a thing, or an item.</p>

	<p>An actor card is not always logical. So be prepared to act like a subway sandwich if the role calls for it.</p>

	<p>The second deck is the scenario deck.</p>

	<p>The scenario deck is the action the acting player will be acting out and what the other players will be guessing.</p>

	<p>The combination of the actor and the scenario card is called the scene.</p>

	<p>Players will be acting out scenes while other players either try and guess the scene or mislead others to not guess the scene.</p>

	<p>Each scene will last 30 seconds.</p>


	<h3>Starting The Game</h3>

	<p>To start the game each player draws 3 Actor and Scenario Cards.</p>

	<p>The first player to act out is the the player who has had the most sexual partners. Be honest. If no one has had any sexual partners then the player who is the fastest goes first.</p>

	<p>All other plays give the acting player a scene. Remember a scene is a combination of an actor and scenario card.</p>

	<p>The acting player reviews the scenes submitted and picks one scene to act out.</p>

	<p>The timer starts.</p>

	<h3>The God Player</h3>

	<p>Charades sucks. And nobody knows that better than god. Being omnipresent and all knowing makes having fun in a guessing game impossible. But what God loves doing is fucking with stupid players.</p>

	<p>If the acting player picks your scene you are the GOD PLAYER.</p>

	<p>The goal of the GOD PLAYER is to throw everyone else off the trail of the scene. This can be done by not saying anything, or trying to trip up the acting player into saying one of the words on the printed cards, or by just shouting out random answers.</p>

	<p>It is the goal of the GOD PLAYER to waste everyone’s time for their own twisted pleasure.</p>

	<h3>Scoring</h3>

	<p>If someone guesses the scene the acting player will give them the scenario card to represent a point. The acting player will keep the acting card for a performance that GOD couldn’t even keep down.</p>

	<p>If the GOD PLAYER wins they get both points. It pays to be divine. And an asshole.</p>

	<p>Any combination of the words on the card will count as a correct guess. The general “jist” of the words on the card will also work. The only rule on guessing is that the guess must be made formally by combining the Actor and Scenario.</p>

	<p>If the scene was: <i>God Gets A First Time Abortion</i></p>

	<p>A correct guess would be: <i>God Gets an abortion</i>, <i>God Gets a First Abortion</i>, <i>God Has First Abortion</i>.</p>

	<p>As an example a bad guess would be: Abortion god, god abortion, or by guessing God and then waiting five minutes and shouting “OH HE’S GETTING AN ABORTION.”</p>

	<p>Remember any jist guess counts. It is also possible for another, quicker, guessing player to steal an answer by forming it into the correct guess format. So be careful about shouting answers that don’t following the formal actor/scenario guessing format.</p>

	<h3>End Of Scene</h3>

	<p>After the end of each scene gloat and draw a new actor and scenario card.</p>

	<p>The person who guessed the answer will now becoming the acting player. If nobody guessed the answer the GOD PLAYER becomes the acting player.</p>

</div>