<h3>{{set.attributes.name}}</h3>
<div class="btn btn-warning"
	 ng-click="ilikedanger = true"
	 ng-hide="ilikedanger">
	Danger Zone
</div>
<div ng-show="ilikedanger">
	<h4>Danger Zone</h4>
	<button ng-click="ilikedanger = false"
	   class="btn btn-success pull-right">Hide</button>
	<button class="btn btn-danger" 
			ng-click="deleteSet()">
		Delete Set
	</button>
	<hr>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
	<h5>Actor: {{actorCount}} | Scenario: {{scenarioCount}}</h5>
	<div class="loadingAlert"
		 ng-show="saving">
		Saving...
	</div>
	<div class="cardList"
	     ng-if="sets.setItemsBySetId[set.id]">
		<input ng-model="searchDetail"
			   placeholder="search here"
			   class="form-control">
		<table class="table table-striped">
			<tr>
				<th>Remove</th>
				<th>Suggestion</th>
				<th>Type</th>
			</tr>
			<tr ng-repeat="(index, setItem) in sets.setItemsBySetId[set.id] | fuse:['attributes.card.attributes.text']:searchDetail">
				<!-- Delete Button -->
				<td class="tableButton">
					<a ng-click="removeSetItem(setItem)"
					   class="btn btn-danger">
						-
					</a>
				</td>
				<!-- Text -->
				<td>
					{{setItem.attributes.card.attributes.text}}
					<span class="legal"
					      ng-if="::setItem.attributes.card.attributes.legal">
						{{setItem.attributes.card.attributes.legal}}
					</span>
				</td>
				<!-- Type -->
				<td ng-class="setItem.attributes.card.getTypeClass()"></td>
			</tr>
		</table>
	</div>
</div>
<suggestion-selector class="col-sm-6 col-md-6 col-lg-6"
                     show-add="true"></suggestion-selector>