<h5>Actor: {{actorCount}} | Scenario: {{scenarioCount}}</h5>
<div class="loadingAlert"
	 ng-show="saving">
	Saving...
</div>
<div class="cardList"
     ng-if="set.setItems.length > 0">
	<input ng-model="searchDetail"
		   placeholder="search here"
		   class="form-control">
	<table class="table table-striped">
		<tr>
			<th>Remove</th>
			<th>Suggestion</th>
			<th>Type</th>
		</tr>
		<tr ng-repeat="(index, setItem) in set.setItems">
			<!-- Delete Button -->
			<td class="tableButton">
				<a ng-click="removeSetItem(setItem)"
				   class="btn btn-danger">
					-
				</a>
			</td>
			<!-- Text -->
			<td>
				{{setItem.card.text}}
				<span class="legal"
				      ng-if="::setItem.card.legal">
					{{setItem.card.legal}}
				</span>
			</td>
			<!-- Type -->
			<td ng-class="setItem.card.getTypeClass()"></td>
		</tr>
	</table>
</div>
