<div id="shareView" class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p>Hey friends, enemies, and complete strangers of the internet to our obligatory but totally necessary social sharing page.</p>
			<p>Here is the deal. Take two minutes and click every button on this page. This will spread the gospel of G.H.C. far and wide.</p>
			<p>We love you very much,<br>
			<b>Jason &amp; Grant</b>
			</p>
		</div>
	</div>
	
	<div class="row">
		<!-- Share Toolbox -->
		<div class="col-md-6 col-md-offset-3">
			<h2>1) We need 150 more backers to get this game Kickstarted – Spread the Word!</h2>
			<addthis sharing="ksSharing"
			         config="ksConfig"></addthis>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>2) Make us feel better by being our friend</h2>
		</div>
		<!-- Fan Page -->
		<div class="col-md-2 col-md-offset-3">
			<h3>Fan Page</h3>
			<addthis sharing="fanSharing"
			         config="fbLikeConfig"></addthis>
		</div>

		<!-- Youtube Page -->
		<div class="col-md-2">
			<h3>Subscribe</h3>
			<yt-subscribe channel="godhatescharades"></yt-subscribe>
		</div>

		<!-- Twitter Page -->
		<div class="col-md-2">
			<h3>Follow</h3>
			<iframe allowtransparency="true"
			        frameborder="0"
			        scrolling="no"
			        src="//platform.twitter.com/widgets/follow_button.html?screen_name=GodHatesGames&show_count=false"
			        style="width:300px; height:20px;">
			</iframe>
		</div>
	</div>


	<!-- Fan Page -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>3) Like our sweet videos</h2>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<h3>Board with Life plays God Hates Charades</h3>
			<addthis sharing="boardWithLifeSharing"
			         config="addthisConfig"></addthis>
			<youtube id="'gjgEoqLm9yk'"
			         fluid="true">
			</youtube>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h3>So simple you can learn it in 46 seconds</h3>
			<addthis sharing="learnSharing"
			         config="addthisConfig"></addthis>
			<youtube id="'mLwIEl59DKg'"
			         fluid="true">
			</youtube>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h3>Bower's Game Corner: God Hates Charades</h3>
			<addthis sharing="bowerSharing"
			         config="addthisConfig"></addthis>
			<youtube id="'a7nIBkO8u0I'"
			         fluid="true">
			</youtube>
		</div>
	</div>

	<!-- Vote -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>4) Want to kill time – Go vote on new cards</h2>
			<a ui-sref="vote"
			   class="btn btn-success pull-left">
				Vote!
			</a>
		</div>
	</div>

	<!-- Upload! -->
	<!-- <div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>Record a video where you act out some of the cards!</h2>
			<youtube-upload></youtube-upload>
		</div>
	</div> -->
</div>