<div id="shareView" class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			We need your help spreading the word about the game, every click helps!
		</div>
	</div>
	<div class="row">
		<!-- Fan Page -->
		<div class="col-md-2 col-md-offset-3">
			<h2>Fan Page</h2>
			<addthis sharing="fanSharing"
			         config="addthisConfig"></addthis>
		</div>

		<!-- Youtube Page -->
		<div class="col-md-2">
			<h2>Subscribe</h2>
			<yt-subscribe channel="godhatescharades"></yt-subscribe>
		</div>

		<!-- Twitter Page -->
		<div class="col-md-2">
			<h2>Follow</h2>
			<iframe allowtransparency="true"
			        frameborder="0"
			        scrolling="no"
			        src="//platform.twitter.com/widgets/follow_button.html?screen_name=GodHatesGames&show_count=false"
			        style="width:300px; height:20px;">
			</iframe>
		</div>
	</div>


	<!-- Fan Page -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>Watch and Like our Videos</h2>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<h3>Board with Life plays God Hates Charades</h3>
			<addthis sharing="boardWithLifeSharing"
			         config="addthisConfig"></addthis>
			<youtube id="'gjgEoqLm9yk'"
			         fluid="true">
			</youtube>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h3>Bower's Game Corner: God Hates Charades</h3>
			<addthis sharing="bowerSharing"
			         config="addthisConfig"></addthis>
			<youtube id="'a7nIBkO8u0I'"
			         fluid="true">
			</youtube>
		</div>
	</div>

	<!-- Upload! -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>Record a video where you act out some of the cards!</h2>
			<youtube-upload></youtube-upload>
		</div>
	</div>
</div>