#submitView {
	text-align: center;
	min-height: 100%;
}

#submitView .submitForm:not(:last-child) {
	margin-right: 15px;
}

@media (max-width: 525px) {
	#submitView .submitForm {
		margin-right: 0 !important;
		margin-bottom: 15px;
	}
}

#submitView .cardContainer {
	max-width: 200px;
	margin: 0 auto;
}