<div id="suggestionView">
	<h2>Suggestions</h2>
	<div class="cardList"
		 ng-hide="loading">
		<h3>{{suggestions.length}} suggestions loaded</h3>
		<input ng-model="searchSelector"
			   placeholder="search here"
			   class="form-control">
			<table class="table table-striped">
				<tr>
					<th>
						<a ng-click="overrideSort(SORT_TEXT)">
							Suggestion
							<span ng-class="getSortClass(SORT_TEXT)"></span>
						</a>
					</th>
					<th>
						<a ng-click="overrideSort(SORT_TYPE)">
							Type
							<span ng-class="getSortClass(SORT_TYPE)"></span>
						</a>
					</th>
					<th>
						<a ng-click="overrideSort(SORT_AUTHOR)">
							Author
							<span ng-class="getSortClass(SORT_AUTHOR)"></span>
						</a>
					</th>
					<th>
						Sets
					</th>
				</tr>
				<tr ng-repeat="(index, suggestion) in suggestions | fuse:searchProps:searchSelector:sortOverrideKeys[sortDirection]"
				    ng-init="newText = suggestion.attributes.text"
				    tooltip="Double-click to edit"
				    tooltip-placement="left"
				    tooltip-popup-delay="300"
				    tooltip-append-to-body="true">
					<!-- Text -->
					<td ng-dblclick="editSuggestion(this, suggestion)"
					    class="noselect">
						{{::suggestion.attributes.text}}
						<span class="legal"
						      ng-if="::suggestion.attributes.legal">
							{{::suggestion.attributes.legal}}
						</span>
					</td>
					<!-- Type -->
					<td ng-class="cardService.getTypeClass(suggestion)"></td>
					<!-- Author Name -->
					<td>{{::suggestion.attributes.owner.attributes.name}}</td>
					<td>
						<span ng-repeat="setItems in setItemsByCardId[suggestion.id]">
							{{setItems}}
						</span>
					</td>
				</tr>
			</table>
	</div>

	<div class="loadingAlert" 
			ng-show="loading">
		Loading...
	</div>
</div>