<div id="suggestionView"
     class="container">
	<h2>Suggestions</h2>
	<div class="cardList"
	     ng-if="suggestions">
		<h3>{{suggestions.length}} suggestions loaded</h3>
		<input ng-model="list.search"
			   placeholder="search here"
			   class="form-control">
		<table class="table table-striped"
		       infinite-scroll="loadSuggestions()"
		       infinite-scroll-disabled="list.limit >= suggestions.length"
		       infinite-scroll-distance="0.25">
			<tr>
				<th>
					<a ng-click="overrideSort(SORT_TEXT)">
						Suggestion
						<i ng-class="getSortClass(SORT_TEXT)"></i>
					</a>
				</th>
				<th>
					<a ng-click="overrideSort(SORT_TYPE)">
						Type
						<i ng-class="getSortClass(SORT_TYPE)"></i>
					</a>
				</th>
				<th>
					<a ng-click="overrideSort(SORT_AUTHOR)">
						Author
						<i ng-class="getSortClass(SORT_AUTHOR)"></i>
					</a>
				</th>
				<th>
					<a ng-click="overrideSort(SORT_VOTES)">
						Votes
						<i ng-class="getSortClass(SORT_VOTES)"></i>
					</a>
				</th>
				<th>
					<a ng-click="overrideSort(SORT_SKIPS)">
						Skips
						<i ng-class="getSortClass(SORT_SKIPS)"></i>
					</a>
				</th>
				<th>
					<a ng-click="overrideSort(SORT_KDR)">
						KDR
						<i ng-class="getSortClass(SORT_KDR)"></i>
					</a>
				</th>
				<th>
					<a ng-click="overrideSort(SORT_VIEWS)">
						Views
						<i ng-class="getSortClass(SORT_VIEWS)"></i>
					</a>
				</th>
				<th>
					Sets
				</th>
			</tr>
			<tr ng-repeat="suggestion in suggestions | fuse:list.searchProps:list.search:list.sortOverrideKeys[list.sortDirection] | limit:list.limit:list track by suggestion.id"
			    card-details-modal="suggestion"
			    class="noselect"
			    ng-init="suggestion.getSetItems()">
				<!-- Text -->
				<td>
					{{suggestion.text}}
					<span class="legal"
					      ng-if="suggestion.legal">
						{{suggestion.legal}}
					</span>
				</td>
				<!-- Type -->
				<td ng-class="suggestion.typeClass"></td>
				<!-- Author Name -->
				<td>{{::suggestion.owner.name}}</td>
				<td>{{::suggestion.votes}}</td>
				<td>{{::suggestion.skips}}</td>
				<td>{{::suggestion.kdr}}</td>
				<td>{{::suggestion.views}}</td>
				<td>
					<div ng-repeat="setItem in suggestion.setItems">
						<span class="label label-default">{{::setItem.owner.name}}</span>
					</div>
				</td>
			</tr>
			<tr ng-if="!list.loaded">
				<td colspan="8">
					<h3>Scroll for more...</h3>
				</td>
			</tr>
		</table>
	</div>
</div>