<div id="suggestionView">
	<h2>Suggestions</h2>
	<div class="cardList" 
	     ng-hide="loading">
		<h3>{{suggestions.length}} suggestions loaded</h3>
		<input ng-model="searchSelector"
			   placeholder="search here"
			   class="form-control">
			<table class="table table-striped">
				<tr>
					<th>
						<a ng-click="overrideSort(SORT_TEXT)">
							Suggestion
							<i ng-class="getSortClass(SORT_TEXT)"></i>
						</a>
					</th>
					<th>
						<a ng-click="overrideSort(SORT_TYPE)">
							Type
							<i ng-class="getSortClass(SORT_TYPE)"></i>
						</a>
					</th>
					<th>
						<a ng-click="overrideSort(SORT_AUTHOR)">
							Author
							<i ng-class="getSortClass(SORT_AUTHOR)"></i>
						</a>
					</th>
					<th>
						<a ng-click="overrideSort(SORT_VOTES)">
							Votes
							<i ng-class="getSortClass(SORT_VOTES)"></i>
						</a>
					</th>
					<th>
						<a ng-click="overrideSort(SORT_SKIPS)">
							Skips
							<i ng-class="getSortClass(SORT_SKIPS)"></i>
						</a>
					</th>
					<th>
						<a ng-click="overrideSort(SORT_KDR)">
							KDR
							<i ng-class="getSortClass(SORT_KDR)"></i>
						</a>
					</th>
					<th>
						<a ng-click="overrideSort(SORT_VIEWS)">
							Views
							<i ng-class="getSortClass(SORT_VIEWS)"></i>
						</a>
					</th>
					<th>
						Sets
					</th>
				</tr>
				<tr ng-repeat="(index, suggestion) in suggestions | fuse:searchProps:searchSelector:sortOverrideKeys[sortDirection]"
				    ng-init="newText = suggestion.attributes.text"
				    ng-dblclick="editSuggestion(this, suggestion)"
				    tooltip="Double-click to edit"
				    tooltip-placement="left"
				    tooltip-popup-delay="300"
				    tooltip-append-to-body="true"
				    class="noselect">
					<!-- Text -->
					<td>
						{{suggestion.attributes.text}}
						<span class="legal"
						      ng-if="::suggestion.attributes.legal">
							{{suggestion.attributes.legal}}
						</span>
					</td>
					<!-- Type -->
					<td ng-class="suggestion.getTypeClass()"></td>
					<!-- Author Name -->
					<td>{{::suggestion.attributes.owner.attributes.name}}</td>
					<td>{{::suggestion.getTotalVotes()}}</td>
					<td>{{::suggestion.getTotalSkips()}}</td>
					<td>{{::suggestion.getKDR()}}</td>
					<td>{{::suggestion.getTotalViews()}}</td>
					<td>
						<div ng-repeat="setId in sets.setIdsByCardId[suggestion.id]">
							<span class="label label-default">{{sets.byId[setId].attributes.name}}</span>
						</div>
					</td>
				</tr>
			</table>
	</div>

	<div class="loadingAlert" 
			ng-show="loading">
		Loading...
	</div>
</div>