<div id="timelineView" class="container">
	<ul>
		<li>
			<h2>Setup BackerKit</h2>
			<p>
				Allow pre-ordering through a service like BackerKit,
				all pre-orders until shipments printed will count towards
				the final stretch goals. That means backers could see tons
				of new stuff added to the finished project. Like nicer card
				types, and more content.
			</p>
		</li>
	</ul>
	
	<!-- Signup section -->
	<signup-section location="timeline_banner">
	</signup-section>
	<!--End Signup section-->
</div>