<div id="topView" class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h2>Watch God Hates Charades</h2>
		</div>
	</div>
	<div class="row"
	     ng-repeat="row in ghcVids">
		<div ng-repeat="video in row"
		      class="col-md-6">
			<div class="embed-responsive embed-responsive-4by3">
				<youtube-video class="embed-responsive-item"
				               video-id="video.id.videoId"
				               player-vars="playerVars">
				</youtube-video>
			</div>
			<h6>
				{{video.snippet.title}}
				<small>{{video.snippet.publishedAt | date}}</small>
			</h6>
		</div>
	</div>
</div>