<div>
	<h4>{{displayType}}</h4>
	<form class="submitForm"
			ng-submit="submit()"
			ng-hide="success">
		<div class="card">
			<!-- <input type="text" 
					ng-model="text" 
					placeholder="{{example}}" /> -->
			<textarea ng-model="text"
						class="editable"
						placeholder="{{example}}"
						maxlength="75"
						required
						textarea-noreturn>
			</textarea>
			<!-- <div contentEditable="true"
					class="editable" 
					ng-model="text"
					></div> -->
		</div>
		<div class="alert" ng-class="characterCount()">{{text.length}} / {{maxChars}} Characters</div>
		<button type="submit" 
				class="btn btn-success submitBtn">
			Submit new {{displayType}}
		</button>
	</form>
	<div class="submitForm"
			ng-show="success">
			<div class="card submitted">
				<h4>Thanks for the submission! Your card will be up soon.</h4>
				<p>Want to people to know how brilliant you are? Signup and we'll credit your name or nickname on the card!</p>
				<a ui-sref="login"
					class="btn btn-success">
					Signup Now
				</a>
			</div>

			<button ng-click="reset()"
					class="btn btn-info">
				Create a new Card
			</button>
	</div>
</div>