<div id="watchView" class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h2>Watch God Hates Charades</h2>
		</div>
	</div>
	<div class="row"
	     ng-repeat="row in ghcVids">
		<div ng-repeat="video in row"
		     class="col-xs-4 clickable"
		     youtube-modal="video"
		     player-vars="playerVars">
			<img ng-src="{{video.snippet.thumbnails.medium.url}}"
			     class="img-responsive">
			<h6>
				{{video.snippet.title}}
				<small>{{video.snippet.publishedAt | date}}</small>
			</h6>
		</div>
	</div>
</div>