/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer {
	padding-left: 15px;
	padding-right: 15px;
}

.card {
	position: relative;	/*relative size hack*/
	border: 1px solid #DDD;
	border-radius: 5px;
	text-align: center;
}

.card:before {
	/*relative size hack*/
	content: "";
	display: block;
	padding-top: 150%;
	/* END relative size hack*/
}

.cardContent {
	/* relative size hack*/
	position:  absolute;
	top: 45%;
	left: 0;
	bottom: 0;
	right: 0;
	/* END relative size hack*/
	padding: 5%;
}

.zeroCardContainer .card {
	background-color: black;
}

.zeroCardContainer .card .editable, .zeroCardContainer .card {
	color: white;
}

.oneCardContainer .card {
	background-color: white;
}

.oneCardContainer .card .editable, .oneCardContainer .card {
	color: black;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}

}

/* Responsive: less than tablets */
@media (max-width: 767px) {

	.navbar-nav {
		margin: 0;
	}
}


/* Basic Grid Style */

.gridStyle {
	height: 500px;
	text-align: center;
}

