.float-short {
  animation-name: floating;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating{
    from {
      -webkit-transform: translate(0, 0);
    }
    60% {
      -webkit-transform: translate(0, 5px);
    }
    to {
      -webkit-transform: translate(0, 0);
    }
}

/*
.sway-a-lot {
  transform-origin: 0% 100% 0px;
  backface-visibility: hidden;
  animation-name: sway-a-lot;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}

@keyframes sway-a-lot {
    from {
      transform: skewX(0);
    }
    33% {
      transform: skewX(-2deg);
    }
    66% {
      transform: skewX(2deg);
    }
    to {
      transform: skewX(0deg);
    }
}
*/

/* Generated with Bounce.js. Edit at http://goo.gl/8cRLx1 */

@keyframes hardbounce { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1000, 0, 1); }
  3.2% { transform: matrix3d(1, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 0, -547.994, 0, 1); }
  3.6% { transform: matrix3d(1, 0, 0, 0, 0, 1.423, 0, 0, 0, 0, 1, 0, 0, -503.56, 0, 1); }
  6.41% { transform: matrix3d(1, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, -259.733, 0, 1); }
  7.21% { transform: matrix3d(1, 0, 0, 0, 0, 1.491, 0, 0, 0, 0, 1, 0, 0, -209.19, 0, 1); }
  10.81% { transform: matrix3d(1, 0, 0, 0, 0, 1.393, 0, 0, 0, 0, 1, 0, 0, -60.641, 0, 1); }
  11.11% { transform: matrix3d(1, 0, 0, 0, 0, 1.382, 0, 0, 0, 0, 1, 0, 0, -52.889, 0, 1); }
  14.31% { transform: matrix3d(1, 0, 0, 0, 0, 1.256, 0, 0, 0, 0, 1, 0, 0, -0.284, 0, 1); }
  15.72% { transform: matrix3d(1, 0, 0, 0, 0, 1.203, 0, 0, 0, 0, 1, 0, 0, -11.172, 0, 1); }
  19.62% { transform: matrix3d(1, 0, 0, 0, 0, 1.086, 0, 0, 0, 0, 1, 0, 0, -20.493, 0, 1); }
  20.42% { transform: matrix3d(1, 0, 0, 0, 0, 1.068, 0, 0, 0, 0, 1, 0, 0, -20.214, 0, 1); }
  25.03% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.812, 0, 1); }
  31.43% { transform: matrix3d(1, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, -4.84, 0, 1); }
  42.94% { transform: matrix3d(1, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1); }
  48.15% { transform: matrix3d(1, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, -0.169, 0, 1); }
  50.05% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.159, 0, 1); }
  56.46% { transform: matrix3d(1, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, -0.076, 0, 1); }
  71.47% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.08% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.001, 0, 1); }
  76.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.001, 0, 1); }
  81.48% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.001, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

/* Generated with Bounce.js. Edit at http://goo.gl/Up8oE2 */

@keyframes click-satisfaction {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.45% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.55% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.23% { transform: matrix3d(1.283, 0, 0, 0, 0, 1.283, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.91% { transform: matrix3d(1.345, 0, 0, 0, 0, 1.345, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.5% { transform: matrix3d(1.103, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  57% { transform: matrix3d(1.013, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}