@import "../less/colors";

.bg-light {
	b {
		color: @color-actor;
	}
	background-color: @color-background;
	color: black;
}

.bg-dark {
	b {
		color: @color-actor;
	}
	background-color: black;
	background-image: url(../img/chalk.jpg);
	color: white;
}

.bg-light-bright {
	background-color: @color-scenario;
	color: white;
	b {
		color: @color-actor;
	}
}

.bg-dark-bright {
	background-color: @color-actor;
	color: white;
	b {
		color: black;
	}
}

.bg-heavens {
	background-color: @color-heavens;
	color: white;
}

.bg-vice {
	background-image: url(../img/vicepattern-light.png);
	background-size: 500px 500px;
}