@import "../less/bootstrap-variables";
@img-actor: url(../img/actor_skull.svg);
@img-scenario: url(../img/scenario_ball.svg);
@img-spite: url(../img/spite_guy.svg);

.card {
	position: relative; /*relative size hack*/
	/*border: 1px solid #DDD;*/
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;

	&:before {
		/*relative size hack*/
		content: "";
		display: block;
		padding-top: 150%;
		/* END relative size hack*/
	}
	.icon {
		svg {
			width: 50%;
			height: 50%;
			position: absolute;
			top: 10%;
			left: 50%;
			margin-left: -25%;
			path {
				fill: #000000;
			}
		}
	}

	&.character, &.scenario {
		background-color: white !important;
		box-shadow: 1px 3px 0 rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.1);
	}

	.cardContent {
		/* relative size hack*/
		position:  absolute;
		top: 60%;
		left: 0;
		bottom: 0;
		right: 0;
		/* END relative size hack*/
		padding: 6%;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size: 15px;
		font-family: 'GodHatesCharades';
		text-transform: uppercase;
		color: black !important;

		span {
			font-family: 'Helvetica';
		}

		@media (max-width: @screen-sm-er-max) {
			font-size: 11px;
			line-height: 14px;
		}
		@media (max-width: @screen-xs-max) {
			font-size: 11px;
			line-height: 14px;
		}
		@media (max-width: @screen-iphone) {
			font-size: 9px;
			line-height: 12px;
		}
	}

	.author {
		color: #999;
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 10px;
	}
}

.card.character .editable, .card.character, .card.scenario .editable, .card.scenario {
	color: black;
	font-weight: normal;
}

.card .editable::-webkit-input-placeholder { /* WebKit browsers */
	color: rgba(0, 0, 0, 0.5);
}
.card .editable:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: rgba(0, 0, 0, 0.5);
}
.card .editable::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: rgba(0, 0, 0, 0.5);
}
.card .editable:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: rgba(0, 0, 0, 0.5);
}

.cardInfo {
	max-width: 200px;
	margin: 0 auto;
}

.pair {
	.card {
		&.character {
			transform: scale(0.97, 0.97) rotate(-8deg) translateX(15px);
		}

		&.scenario {
			transform: scale(1, 1) rotate(6deg) translateX(-15px);
		}
	}
}

.card-link {
	margin: 0 auto 25px auto;
}

.cardList, .pairList {
	font-size: 12px;
	& > table {
		margin-bottom: 0;

		tr {
			& > td, & > th {
				text-align: center;
				border-color: #F4EBDC;
				padding-top: 15px;
				padding-bottom: 15px;
				vertical-align: middle;
			}

			& > td {
				cursor: pointer;

				&.scenario {
					background-color: @color-scenario;
					background-image: @img-scenario;
					background-size: 34px 33px;
					background-repeat: no-repeat;
					background-position: center 50%;
					&.spite {
						background-image: @img-spite;
						background-size: 34px 33px;
					}
				}

				&.character {
					background-color: @color-actor;
					background-image: @img-actor;
					background-size: 30px 34px;
					background-repeat: no-repeat;
					background-position: center 50%;
				}
			}

			& > th {
				border-top: none;
			}
		}
		
		input.form-control {
			font-size: 10px;
		}

		.help-block {
			margin-bottom: 0;
			text-align: left;
		}
	}
}

.cardStats {
	margin-top: 10px;
	.scenario {
		background-color: @color-scenario;
		background-image: @img-scenario;
		background-size: 34px 33px;
		background-repeat: no-repeat;
		background-position: 25% 50%;
		&.spite {
			background-image: @img-spite;
			background-size: 34px 33px;
		}
	}

	.character {
		background-color: @color-actor;
		background-image: @img-actor;
		background-size: 30px 34px;
		background-repeat: no-repeat;
		background-position: 25% 50%;
	}

	.stat {
		position: relative;
		left: 55%;
		font-family: 'GodHatesCharades';
		color: white;
		line-height: 45px;
	}
}