@color-actor: #FF6857;
@color-scenario: #61CACE;
// @color-background: lighten(@color-actor, 30%);
@color-background: rgba(0, 0, 0, 0.025);
// @color-background: rgba(255, 255, 255, 0.6);
@color-btn-primary: black;
@color-btn-success: @color-actor;
@color-btn-warning: @color-actor;
@color-btn-danger: @color-actor;
@color-btn-info: @color-actor;
@color-input-placeholder: @color-actor;
@color-ks-green: #2BDE73;