#storeView {
  .cart {
    padding-bottom: 15px;
    transition: transform .5s ease-out;
    min-width: 200px;

    .notification {
      background-image: url(../img/empty_cart_text.svg);
      background-repeat: no-repeat;
      width: 182px;
      height: 134px;
      margin: 25px auto 15px auto;
    }

    .products {
      display: none;
      // padding-bottom: 31px;

      .product {
        position: relative;
        bottom: 0;
        
        &.ng-enter {
          transition: all 1s;
          -webkit-transition: all 1s;
          bottom: 1000px;

          &.ng-enter-active {
            bottom: 0;
          }
        }

        .product-image {
          width: 100%;
          height: 125px;
          position: absolute;
          bottom: 0;
          background-position: center bottom;
          background-repeat: no-repeat;

          &:last-child {
            margin-bottom: -36px;
          }
        }

        &.product-main-game {
          height: 45px;
          .product-image {
            background-image: url(../img/the_game.svg);
          }
        }

        &.product-expansion {
          height: 23px;

          .product-image {
            background-image: url(../img/expansion.svg);
          }
        }
      }
    }

    .guy {
      margin: 0 auto;
      width: 155px;
      height: 220px;
      position: relative;
      
      .guy-front, .guy-back {
        position: absolute;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      }

      .guy-back {
        z-index: -1;
        background-image: url(../img/cart_face_back.svg);
      }

      .guy-front {
        z-index: 99;
        background-image: url(../img/empty_cart_face_front.svg);
      }

    }

    &.full {
      .notification {
        display: none;
      }

      .products {
        display: block;
      }

      .guy-front {
        background-image: url(../img/full_cart_face_front.svg);
      }
    }

    .submit {
      position: absolute;
      bottom: 0;
      z-index: 100;
    }
  }

  .float-short {
    animation-name: floating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .float-long {
    animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @-webkit-keyframes floating{
      from {
        -webkit-transform: translate(0, 0);
      }
      60% {
        -webkit-transform: translate(0, 5px);
      }
      to {
        -webkit-transform: translate(0, 0);
      }
  }
}