<div id="storeView" class="container flush">
  <ui-view></ui-view>
  <section class="row">
    <div class="col-sm-9">
      <store-product ng-repeat="storeItem in collection.items | orderBy:'position' track by storeItem.product.id"
                     product="storeItem.product"
                     cart-key="store">
      </store-product>
    </div>
    <cart collection="collection"
          key="store"></cart>
  </section>

</div>