#storeView {
  .cart {
    padding-bottom: 15px;
    position: absolute;
    transition: transform .5s ease-out;

    .notification {
      background-image: url(../img/empty_cart_text.svg);
      background-repeat: no-repeat;
      width: 182px;
      height: 134px;
      margin: 0 auto 15px auto;
    }

    .guy {
      margin: 0 auto;
      width: 155px;
      height: 220px;
      position: relative;
      
      .guy-front, .guy-back {
        position: absolute;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      }

      .guy-back {
        background-image: url(../img/cart_face_back.svg);
      }

      .guy-front {
        background-image: url(../img/empty_cart_face_front.svg);
      }

    }

    &.full {
      .guy-front {
        background-image: url(../img/full_cart_face_front.svg);
      }
    }

    .submit {
      position: absolute;
      bottom: 0;
    }
  }

  .float-short {
    animation-name: floating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .float-long {
    animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @-webkit-keyframes floating{
      from {
        -webkit-transform: translate(0, 0);
      }
      60% {
        -webkit-transform: translate(0, 5px);
      }
      to {
        -webkit-transform: translate(0, 0);
      }
  }
}