<div id="storeView" class="container flush">
  <section class="row">
    <div class="col-sm-8">
      <div class="product"
           ng-repeat="storeItem in collection.items | orderBy:'position' track by storeItem.product.id"
           ng-init="product = storeItem.product">
        <img ng-src="{{product.image.src}}"
             class="img-responsive">
        <h3>{{product.title}}</h3>
        <form class="form-inline">
          <div class="form-group">
            <button ng-click="decrement(product)"
                    class="btn btn-info">-</button>
            {{getCountById(product.mainVariantId) | number}}
            <button ng-click="increment(product)"
                    class="btn btn-info">+</button>
          </div>
        </form>
        <div ng-html-compile="product.body_html"></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cart"
           angular-follow follow-point="150"
           ng-class="{full: isCartFull}">
        <div class="notification float-short"></div>
        <div class="products">
          <div class="product"
               ng-repeat="variantId in cart track by $index"
               ng-class="collection.productsByMainVariant[variantId].product.cartClass"
               ng-style="getProductLayer($index)">
            <div class="product-image">
            </div>
          </div>
        </div>
        <div class="guy">
          <div class="guy-back"></div>
          <div class="guy-front"></div>
        </div>
        <a class="btn btn-block btn-success submit"
           ng-href="{{buyUrl()}}">
          Buy {{cart.length}} things
        </a>
      </div>
    </div>
  </section>

</div>