<div id="storeView" class="container flush">
  <section class="row">
    <div class="col-sm-9">
      <store-product ng-repeat="storeItem in collection.items | orderBy:'position' track by storeItem.product.id"
                     store-item="storeItem"
                     increment="increment"
                     decrement="decrement"
                     set-quantity="setQuantity"
                     quantity="{{getCountById(storeItem.product.mainVariantId)}}">
      </store-product>
    </div>
    <div class="col-sm-3">
      <div class="cart"
           fix-bottom
           ng-class="{full: isCartFull}">
        <div class="notification float-short"></div>
        <div class="cart-items"
             ng-class="getSway()">
          <!-- normal cart items -->
          <div class="cart-item fall-down"
               ng-if="!maxCartMode"
               ng-repeat="item in cart | orderBy:'-added' track by item.added"
               ng-class="collection.productsByMainVariant[item.variant].product.cartClass"
               ng-style="getProductLayer(cart, $index)">
            <div class="product-image"></div>
          </div>
          <!-- maxCartMode cart items -->
          <div class="cart-item"
               ng-if="maxCartMode"
               ng-repeat="cartItem in collapsedCart | orderBy:'-added' track by cartItem.variant"
               ng-class="collection.productsByMainVariant[cartItem.variant].product.cartClass"
               ng-class-even="'cart-item-even'"
               ng-class-odd="'cart-item-odd'"
               ng-style="getProductLayer(collapsedCart, $index)">
            <div class="product-quantity">{{cartItem.quantity}}</div>
            <div class="product-image"></div>
          </div>
        </div>
        <div class="guy">
          <div class="guy-back"></div>
          <div class="guy-front"></div>
        </div>
        <a class="btn btn-block btn-success submit"
           ng-href="{{buyUrl()}}">
          Checkout
        </a>
      </div>
    </div>
  </section>

</div>