<div id="topView" class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h2>Top Submissions</h2>
			<prompt message-template="views/top/top.prompt.html"></prompt>
			<ul class="nav nav-pills subnav">
				<li ui-sref-active="active">
					<a ui-sref="top.fame">
						Hall of Fame
					</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="top.shame">
						Hall of Shame
					</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="top.controversial">
						Controversial
					</a>
				</li>
			</ul>
			<div class="loadingAlert" 
					ng-show="loading">
				Loading...
			</div>
		</div>
	</div>
	<ui-view></ui-view>
</div>