<div id="homeView" class="container flush">



	<section class="row row-compact row-horizontal-flush row-vertical-flush intro">
		<div class="container-md-height">
			<div class="row row-md-height">
				<div class="intro-video col-md-height col-xs-12 col-middle">
					<div class="embed-responsive embed-responsive-16by9">
						<youtube-video class="embed-responsive-item"
						               video-id="'mLwIEl59DKg'"
						               player="homeVideo"
						               player-vars="playerVars">
						</youtube-video>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<section class="row row-compact row-horizontal-flush row-vertical-flush buy">
		<a ng-href="{{buyLink}}"
		   ng-mouseup="onBuyClicked('homepage_main', 'Buy Button')">
			<img src="img/ghc_buy_now.gif"
			     class="img-responsive"
			     alt="Buy God Hates Charades now!"/>
		</a>
	</section>

	<!-- Signup section -->
	<signup-section location="homepage_signup_section"
	                title="Too cheap to buy the game?"
	                message="Get our print ‘n play & updates on the game!"
	                class="bg-dark">
	</signup-section>
	<!--End Signup section-->
</div>