<div id="homeView" class="container flush">



  <section class="row row-compact row-horizontal-flush row-vertical-flush intro">
    <div class="container-md-height">
      <div class="row row-md-height">
        <div class="intro-video col-md-height col-xs-12 col-middle">
          <div class="embed-responsive embed-responsive-16by9">
            <youtube-video class="embed-responsive-item"
                           video-id="'mLwIEl59DKg'"
                           player="homeVideo"
                           player-vars="playerVars">
            </youtube-video>
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <section class="row row-compact row-horizontal-flush row-vertical-flush buy"
           ng-if="promo == 'buy'">
    <a ng-href="{{buyLink}}"
       ng-mousedown="buyImg2 = buyImgBottomHover"
       ng-mouseup="onBuyClicked('homepage_main', 'Buy Button')">
      <img ng-src="{{buyImg}}"
           class="img-responsive"
           alt="God Hates Charades + God Hates Charades: 8-Bit Expansion"/>
      <div ng-mouseover="buyImg2 = buyImgBottomHover"
           ng-mouseleave="buyImg2 = buyImgBottomBlur">
        <img ng-src="{{buyImg2}}"
             class="img-responsive"
             alt="Buy God Hates Charades now!"/>
       </div>
    </a>
  </section>

  <section class="row row-compact row-horizontal-flush row-vertical-flush buy"
           ng-if="promo == 'vibrator'">
    <a ng-href="{{searchLink}}"
       ng-mouseup="onBuyClicked('homepage_main', 'Buy Button')">
      <img ng-src="{{searchImg}}"
           class="img-responsive"
           alt="Buy God Hates Charades now!"/>
    </a>
  </section>
  
  <section class="row row-horizontal-flush"
           id="homeStore"
           ng-if="promo == 'store'">
    <div class="col-xs-12 col-sm-9">
      <store-product ng-repeat="storeItem in collection.items | orderBy:'position' track by storeItem.product.id"
                     product="storeItem.product"
                     cart-key="store">
      </store-product>
    </div>
    <cart collection="collection"
          key="store"></cart>
  </section>

  <!-- Signup section -->
  <signup-section location="homepage_signup_section"
                  title="Too cheap to buy the game?"
                  message="Get our print ‘n play & updates on the game!"
                  class="bg-dark">
  </signup-section>
  <!--End Signup section-->
</div>