<div id="homeView" class="flush">


  <!-- Intro Section -->
  <section class="row row-vertical-flush intro bg-dark">
    <div class="intro-video col-sm-12 col-flush">
      <div class="embed-responsive embed-responsive-16by9">
        <youtube-video class="embed-responsive-item"
                       player="homeVideo"
                       player-vars="playerVars">
        </youtube-video>
      </div>
    </div>
  </section>
  <!-- End Intro Section -->

  <!-- Buy Section -->
  <section id="buy"
           class="row bg-heavens">
    <h2 class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
      A fast paced acting and guessing game overflowing with pop culture and crude humor.
    </h2>
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
      <a ng-href="{{buyLink}}"
         class="btn btn-success btn-block animated " 
         ng-class="preorderClass"
         ng-mouseup="onBuyClicked('homepage_buy', 'Buy Button')"
         target="_blank">
        Buy Now!
      </a>
    </div>
  </section>
  <!-- End Buy Section -->

  <!-- Signup section -->
  <signup-section location="homepage_signup_section"
                  class="bg-dark">
  </signup-section>
  <!--End Signup section-->
  

  <!-- Preorder section -->
  <!-- <preorder-section location="preorder_section"
                    class="bg-light-bright">
  </preorder-section> -->

  <!-- iOS Ad section -->
  <section class="row ios"
           id="ipad_ad">
    <h2>We like pixels too</h2>
    <h3>Grab the game now on the iPad!</h3>
    <div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
      <ul>
        <li>Absurd content</li>
        <li>Beautiful art by Damien Weighill</li>
        <li>3-8 Players (Pass and Play)</li>
        <li>Fast paced acting and guessing</li>
        <li>Easy to learn, difficult to master</li>
      </ul>
      <p>(Signup for updates to be notified when we release on Android.)</p>
      <a href="http://bit.ly/godhatesiPad"
         target="_blank"
         class="btn btn-success">
         Get the app!
      </a>
    </div>
    <div class="col-md-5 col-lg-5">
      <img src="img/ipadScreenshot.png"
           class="screenshot img-responsive" 
           alt="Screenshot of God Hates Charades for iPad"/>
    </div>
  </section>
  <!-- end iOS Ad section -->
</div>