<div id="components"
     class="container">
	<h1>God Hates Charades Components</h1>
	<!-- Headers -->
	<section id="headers">
		<h2>Headers</h2>
		<div class="col-md-6">
			<h5>H1</h5>
			<h1>So Meta</h1>
			<h5>H2</h5>
			<h2>So Meta</h2>
			<h5>H3</h5>
			<h3>So Meta</h3>
		</div>
		<div class="col-md-6">
			<h5>H4</h5>
			<h4>So Meta</h4>
			<h5>H5</h5>
			<h5>So Meta</h5>
			<h5>H6</h5>
			<h6>So Meta</h6>
		</div>
	</section>
	<!-- Backgrounds -->
	<section id="backgrounds">
		<h2>Backgrounds</h2>
		<div class="col-md-6">
			<h5>bg-light</h5>
			<section class="col-md-12 bg-light">
				<h2>Some Header</h2>
				<h5>btn btn-success btn-block</h5>
				<a href="http://google.com">a plain ol' link!</a>
				<a class="btn btn-success btn-block">
					Preorder
				</a>
				<h5>btn btn-success</h5>
				<a class="btn btn-success">
					God Hates Me
				</a>
				<h5>btn btn btn-default</h5>
				<a class="btn btn-default">
					Buy Me
				</a>
				<h5>btn btn btn-warning</h5>
				<a class="btn btn-warning">
					Burn Me
				</a>
				<h5>btn btn btn-danger</h5>
				<a class="btn btn-danger">
					Bury Me
				</a>
				<hr>
				<p>Some copy, <b>thats bold!</b></p>
			</section>

			<h5>bg-dark</h5>
			<section class="col-md-12 bg-dark">
				<h2>Some Header</h2>
				<h5>btn btn-success btn-block</h5>
				<a href="http://google.com">a plain ol' link!</a>
				<a class="btn btn-success btn-block">
					Preorder
				</a>
				<h5>btn btn-success</h5>
				<a class="btn btn-success">
					God Hates Me
				</a>
				<h5>btn btn btn-default</h5>
				<a class="btn btn-default">
					Buy Me
				</a>
				<h5>btn btn btn-warning</h5>
				<a class="btn btn-warning">
					Burn Me
				</a>
				<h5>btn btn btn-danger</h5>
				<a class="btn btn-danger">
					Bury Me
				</a>
				<hr>
				<p>Some copy, <b>thats bold!</b></p>
			</section>
			
			<h5>bg-light-bright</h5>
			<section class="col-md-12 bg-light-bright">
				<h2>Some Header</h2>
				<h5>btn btn-success btn-block</h5>
				<a href="http://google.com">a plain ol' link!</a>
				<a class="btn btn-success btn-block">
					Preorder
				</a>
				<h5>btn btn-success</h5>
				<a class="btn btn-success">
					God Hates Me
				</a>
				<h5>btn btn btn-default</h5>
				<a class="btn btn-default">
					Buy Me
				</a>
				<h5>btn btn btn-warning</h5>
				<a class="btn btn-warning">
					Burn Me
				</a>
				<h5>btn btn btn-danger</h5>
				<a class="btn btn-danger">
					Bury Me
				</a>
				<hr>
				<p>Some copy, <b>thats bold!</b></p>
			</section>
		</div>
		<div class="col-md-6">
			<h5>bg-dark-bright</h5>
			<section class="col-md-12 bg-dark-bright">
				<h2>Some Header</h2>
				<h5>btn btn-success btn-block</h5>
				<a href="http://google.com">a plain ol' link!</a>
				<a class="btn btn-success btn-block">
					Preorder
				</a>
				<h5>btn btn-success</h5>
				<a class="btn btn-success">
					God Hates Me
				</a>
				<h5>btn btn btn-default</h5>
				<a class="btn btn-default">
					Buy Me
				</a>
				<h5>btn btn btn-warning</h5>
				<a class="btn btn-warning">
					Burn Me
				</a>
				<h5>btn btn btn-danger</h5>
				<a class="btn btn-danger">
					Bury Me
				</a>
				<hr>
				<p>Some copy, <b>thats bold!</b></p>
			</section>

			<h5>bg-heavens</h5>
			<section class="col-md-12 bg-heavens">
				<h2>Some Header</h2>
				<h5>btn btn-success btn-block</h5>
				<a href="http://google.com">a plain ol' link!</a>
				<a class="btn btn-success btn-block">
					Preorder
				</a>
				<h5>btn btn-success</h5>
				<a class="btn btn-success">
					God Hates Me
				</a>
				<h5>btn btn btn-default</h5>
				<a class="btn btn-default">
					Buy Me
				</a>
				<h5>btn btn btn-warning</h5>
				<a class="btn btn-warning">
					Burn Me
				</a>
				<h5>btn btn btn-danger</h5>
				<a class="btn btn-danger">
					Bury Me
				</a>
				<hr>
				<p>Some copy, <b>thats bold!</b></p>
			</section>
			
			<h5>bg-vice</h5>
			<section class="col-md-12 bg-vice">
				<h2>Some Header</h2>
				<h5>btn btn-success btn-block</h5>
				<a href="http://google.com">a plain ol' link!</a>
				<a class="btn btn-success btn-block">
					Preorder
				</a>
				<h5>btn btn-success</h5>
				<a class="btn btn-success">
					God Hates Me
				</a>
				<h5>btn btn btn-default</h5>
				<a class="btn btn-default">
					Buy Me
				</a>
				<h5>btn btn btn-warning</h5>
				<a class="btn btn-warning">
					Burn Me
				</a>
				<h5>btn btn btn-danger</h5>
				<a class="btn btn-danger">
					Bury Me
				</a>
				<hr>
				<p>Some copy, <b>thats bold!</b></p>
			</section>
		</div>
	</section>
	<!-- Copy -->
	<section id="copy">
		<h2>Copy</h2>
		<div class="col-md-6">
			<h5>Paragraph</h5>
			<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
		</div>
		<div class="col-md-6">
			<h5>Bold</h5>
			<p><b>Collaboratively administrate</b> empowered markets via plug-and-play networks.</p>
			<h5>Italics</h5>
			<p><i>Collaboratively administrate</i> empowered markets via plug-and-play networks.</p>
			<h5>Small</h5>
			<p><small>Collaboratively administrate</small></p>
		</div>
	</section>
	<!-- Buttons -->
	<section id="buttons">
		<h2>Buttons</h2>
		<div class="col-md-6">
			<h5>btn btn-success btn-block</h5>
			<a class="btn btn-success btn-block">
				Preorder
			</a>

			<h5>btn btn-success</h5>
			<a class="btn btn-success">
				God Hates Me
			</a>

			<h5>btn btn btn-default</h5>
			<a class="btn btn-default">
				Buy Me
			</a>
		</div>
		<div class="col-md-6">
			<h5>btn btn btn-warning</h5>
			<a class="btn btn-warning">
				Burn Me
			</a>

			<h5>btn btn btn-danger</h5>
			<a class="btn btn-danger">
				Bury Me
			</a>
		</div>
	</section>
</div>