.examplesContainer {
	margin: 0 auto;
	text-align: center;
	position: relative;
	height: 300px;
}

.examplesContainer .characters, .examplesContainer .scenarios {
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
    -webkit-perspective: 600px;
    -webkit-perspective-origin: 0px 150px;
	left: 14px;
}
/*
.examplesContainer .characters {
	position: absolute;
	left: 0;
}

.examplesContainer .scenarios {
	position: absolute;
	left: 200px;
}
*/
.examplesContainer .card {
	width: 100%;
	height: 100%;
	max-width: 200px;
	display: inline-block;
	/*box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);*/
}

.examplesContainer .characters .card, .examplesContainer .scenarios .card {
	position: absolute;
	top: 0;
}

.examplesContainer .characters .card {
	left: 5%;
}

.examplesContainer .scenarios .card {
	right: 15%;
}

.examplesContainer.loading .card {
	background-color: #333333;
}

.examplesContainer .card.character {
	/*z-index: 9;*/
	/*-webkit-transform: scale(0.97, 0.97) rotate(-8deg) translateX(15px);*/

	-webkit-transition: all .4s ease-in, z-index 0;
	-moz-transition: all .4s ease-in, z-index 0;
	-o-transition: all .4s ease-in, z-index 0;
	-ms-transition: all .4s ease-in, z-index 0;
	transition: all .4s ease-in, z-index 0;
}

.examplesContainer .card.scenario {
	/*z-index: 10;*/
	/*-webkit-transform: scale(1, 1) rotate(6deg) translateX(-15px);*/

	-webkit-transition: all .4s ease-in 0.2s, z-index 0;
	-moz-transition: all .4s ease-in 0.2s, z-index 0;
	-o-transition: all .4s ease-in 0.2s, z-index 0;
	-ms-transition: all .4s ease-in 0.2s, z-index 0;
	transition: all .4s ease-in 0.2s, z-index 0;
}

/* Behind */
.examplesContainer .character.exampleBehind {
	-webkit-transform: scale(0.97, 0.97) rotateZ(-3deg);
	z-index: 9;
	box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
}

.examplesContainer .scenario.exampleBehind {
	-webkit-transform: scale(0.97, 0.97) rotateZ(2deg);
	z-index: 9;
	box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
}

/* Active */
.examplesContainer .character.exampleActive {
	-webkit-transform: scale(0.97, 0.97) rotateZ(-8deg);
	z-index: 10;
	box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.examplesContainer .scenario.exampleActive {
	-webkit-transform: scale(0.97, 0.97) rotateZ(6deg);
	z-index: 10;
	box-shadow: 3px 2px 0 rgba(0, 0, 0, 0.1);
}

/* Staging */
.examplesContainer .character.exampleStaging {
	/*-webkit-transform: scale(1.25, 1.25) rotateZ(-2deg) rotateY(-87deg) translateZ(120px) translateY(10px);*/
	-webkit-transform: scale(1, 1) rotateZ(-2deg) translateZ(60px) translateY(10px) translateX(-100px);
	z-index: 11;
	box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
	opacity: 0;
}

.examplesContainer .scenario.exampleStaging {
	/*-webkit-transform: scale(1.25, 1.25) rotateZ(1deg) rotateY(73.5deg) translateY(10px) translateZ(100px);*/
	-webkit-transform: scale(1, 1) rotateZ(1deg) translateY(10px) translateZ(80px) translateX(100px);
	z-index: 11;
	box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
	opacity: 0;
}