<div class="moderator">
	<link rel="stylesheet" 
			type="text/css" 
			href="components/moderator.css">

	<div class="alert alert-info" 
			ng-show="loading">
		Loading...</div>

	<div class="alert alert-info" 
			ng-show="allApproved && !loading">
		Thats all folks... dont you have something better you could be doing?</div>

	<!-- Skip button -->

	<hr/>

	<!-- Repeat suggestions in pairs -->
	<div class="cardContainer"
			ng-hide="loading || allApproved">
		<card id="suggestion.id"
				updatable="true"></card>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<div class="row">
					<div class="radio col-md-3">
						<label>
							<input class="legal" type="radio" ng-model="legalMod" value="">
						</label>
					</div>
					<div class="radio col-md-3">
						<label>
							<input class="legal" type="radio" ng-model="legalMod" value="©">
							&copy;
						</label>
					</div>
					<div class="radio col-md-3">
						<label>
							<input class="legal" type="radio" ng-model="legalMod" value="™">
							&trade;
						</label>
					</div>
					<div class="radio col-md-3">
						<label>
							<input class="legal" type="radio" ng-model="legalMod" value="®">
							&reg;
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="suggestionText">New Text</label>
				<input type="text" class="form-control" id="suggestionText" ng-model="suggestionText">
			</div>
		</form>
		<button class="btn btn-success"
				ng-click="approve()">
			Approve &amp; Save
		</button>
		<button class="btn btn-danger"
				ng-click="disapprove()">
			Disapprove
		</button>
		<button ng-click="skip()"
				class="btn btn-warning skip">
			Ask me later
		</button>
		<hr />
	</div>


</div>