.cardContent {
	top: 0;
}

.card {
	margin-bottom: 10px;
}

.card .editable {
	border: none;
	width: 100%;
	height: 100%;
	background: transparent;
	resize: none;
	padding: 100% 15px 15px 15px;
	
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.card.submitted {
	padding: 25px;
	font-size: 12px;
}