#homeView h4, #homeView h2 {
	text-align: center;
	font-family: 'Mimbie';
	font-weight: bold;
}

#homeView .thumbnail {
	background-size: cover;
	background-position: center center;
	height: 250px;
}

#homeView .thumbnail.actor {
	background-image: url(http://placehold.it/250x250);
}

#homeView .thumbnail.guesser {
	background-image: url(http://placehold.it/250x250);
}

#homeView .thumbnail.god {
	background-image: url(http://placehold.it/250x250);
}

#homeView p {
	font-family: 'Helvetica';
}
#homeView p b {
}