<div id="homeView">
	<link rel="stylesheet" type="text/css" href="views/homeView.css">
	<div class="container">
		<h2>A game where you act out the<br>vile and dispicable inside all of us.</h2>
		
		<div class="row">
			<div class="col-md-4">
				<h4>The Actor</h4>
				<div class="thumbnail actor"></div>
				<p>A player will assume the actor position. Their job will be to <b>act out the scene</b> given to them by one of the other players.</p>
			</div>
			<div class="col-md-4">
				<h4>The Guesser</h4>
				<div class="thumbnail guesser"></div>
				<p>All players who aren’t acting are guessers. Their job is to <b>guess what the actor is doing</b> unless the actor picks your scene. If the actor picks your scene you become the God player.</p>
			</div>
			<div class="col-md-4">
				<h4>God</h4>
				<div class="thumbnail god"></div>
				<p>As the God player their job is to <b>throw off the other players</b> by making stupid guesses and just causing problems. After all God Hates Charades.</p>
			</div>
		</div>

		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
			<form action="http://godhatescharades.us3.list-manage.com/subscribe/post?u=88c52ae3a3f740d6ede2fcc05&amp;id=b6575d0e61" 
				  method="post" 
				  id="mc-embedded-subscribe-form" 
				  name="mc-embedded-subscribe-form" 
				  class="form-inline" 
				  target="_blank" 
				  novalidate>
				<h2>Subscribe to our mailing list</h2>
				<div class="form-group">
					<label for="mce-EMAIL" 
						   class="sr-only">
						Email Address
					</label>
					<input type="email" 
						   value="" 
						   name="EMAIL" 
						   class="required email" 
						   id="mce-EMAIL" 
						   placeholder="Enter email">
				</div>
				<input type="submit" 
					   value="Subscribe" 
					   name="subscribe" 
					   id="mc-embedded-subscribe" 
					   class="button">
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;"><input type="text" name="b_88c52ae3a3f740d6ede2fcc05_b6575d0e61" value=""></div>
			</form>
		</div>
		<!--End mc_embed_signup-->
	</div>
</div>