<div id="homeView">
	<link rel="stylesheet" type="text/css" href="views/homeView.css">
	<link rel="stylesheet" type="text/css" href="components/examples.css">

	<div class="row" id="kickstarter">
		<!-- Kickstarter -->
		<span ng-hide="kickstarter.done()">
			<h3>We need your help</h3>
			<p>The Kickstarter is coming soon. You can help us now by signing up to be notified.</p>
			<timer countdown="kickstarter.deadline() / 1000" 
				   interval="1000" >
				{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.
			</timer>
		</span>
		<span ng-show="kickstarter.done()">
			<h3>Are you as excited as us?!</h3>
			<p>Our kickstarter launched and we need your support the most!</p>
			<div ng-show="kickstarter.done()">
				<a href="http://www.kickstarter.com"
				   target="_blank">Back us</a>
			</div>
		</span>
	</div>
	
	<h2>A game where you act out the<br>vile and despicable inside all of us.</h2>

	<div class="row">
		<div class="cardTypeLeft col-md-3">Character <b>&#x203A;</b></div>
		<examples class="col-md-6"></examples>
		<div class="cardTypeRight col-md-3"><b>&#x2039;</b> Scenario</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<h3>The rules</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h4>The<br><b>Actor</b></h4>
			<!-- <div class="thumbnail actor"></div> -->
			<p>A player will assume the actor position. Their job will be to <b>act out the scene</b> given to them by one of the other players.</p>
		</div>
		<div class="col-md-4">
			<h4>The<br><b>Guesser</b></h4>
			<!-- <div class="thumbnail guesser"></div> -->
			<p>All players who aren’t acting are guessers. Their job is to <b>guess what the actor is doing</b> unless the actor picks your scene. If the actor picks your scene you become the God player.</p>
		</div>
		<div class="col-md-4">
			<h4>The<br><b>God</b></h4>
			<!-- <div class="thumbnail god"></div> -->
			<p>As the God player their job is to <b>throw off the other players</b> by making stupid guesses and just causing problems. After all God Hates Charades.</p>
		</div>
	</div>
	
	<div class="row">

		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup"
			 class="col-sm-6 col-md-6">
			<form action="http://godhatescharades.us3.list-manage.com/subscribe/post?u=88c52ae3a3f740d6ede2fcc05&amp;id=b6575d0e61" 
				  method="post" 
				  id="mc-embedded-subscribe-form" 
				  name="mc-embedded-subscribe-form" 
				  class="form-inline" 
				  target="_blank" 
				  novalidate>
				<h3 ng-hide="kickstarter.done()">
					Be the first to hear about our launch!
				</h3>
				<h3 ng-show="kickstarter.done()">
					Keep up to date with us!
				</h3>
				<div class="form-group">
					<label for="mce-EMAIL" 
						   class="sr-only">
						Email Address
					</label>
					<input type="email" 
						   value="" 
						   name="EMAIL" 
						   class="required email" 
						   id="mce-EMAIL" 
						   placeholder="Enter email">
				</div>
				<input type="submit" 
					   value="Subscribe" 
					   name="subscribe" 
					   id="mc-embedded-subscribe" 
					   class="button">
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;"><input type="text" name="b_88c52ae3a3f740d6ede2fcc05_b6575d0e61" value=""></div>
			</form>
		</div>
		<!--End mc_embed_signup-->
	</div>
</div>