@media print {
	#mainNav, .logoContainer, .footer, #printView h2, #printView hr{
		display: none;
	}
	@page {
		margin: 0.5cm;
	}

	body, .container {
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
	}
}