#rulesView h4 {
	text-align: center;
}

#rulesView .thumbnail {
	background-size: cover;
	background-position: center center;
	height: 250px;
}

#rulesView .thumbnail.actor {
	background-image: url(http://placehold.it/250x250);
}

#rulesView .thumbnail.guesser {
	background-image: url(http://placehold.it/250x250);
}

#rulesView .thumbnail.god {
	background-image: url(http://placehold.it/250x250);
}