#topView th  {
    border-top: none;
}
#topView td, #topView th {
	text-align: center;
	border-color: #F4EBDC;
	background: white;
}

#topView tr {
	border: 0px solid white;
	border-left-width: 3px;
}

#topView .scenario {
	border-left-color:#61CACE;
}

#topView .character {
	border-left-color:#FF6857;
}